<!DOCTYPE HTML>
<head>
<title>Admin Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon"
	href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
	type="image/vnd.microsoft.icon" /><link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/adminHome.css" rel="stylesheet" type="text/css" media="all"/>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/startstop-slider.js"></script>
<script type="text/javascript" src="/js/fusioncharts.js"></script>
<script type="text/javascript" src="/js/themes/fusioncharts.theme.fint.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/angular-fusioncharts.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>	

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- template css -->
    <!-- <link href="../../maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- <link type="text/css" rel="stylesheet" media="all" href="/css/jquery.mmenu.all.css" /> -->
    <!-- <link rel="stylesheet" href="/css/jquery.videobackground.css"> -->
    <!-- <link rel="stylesheet" href="/css/bootstrap-checkbox.css"> -->
    <!-- <link rel="stylesheet" href="/css/bootstrap-dropdown-multilevel.css"> -->

    <link rel="stylesheet" href="/css/rickshaw.min.css">
    <link rel="stylesheet" href="/css/morris.css">
    <link rel="stylesheet" href="/css/tabdrop.css">
    <link rel="stylesheet" href="/css/summernote.css">
    <link rel="stylesheet" href="/css/summernote-bs3.css">
    <link rel="stylesheet" href="/css/chosen.min.css">
    <link rel="stylesheet" href="/css/chosen-bootstrap.css">


	
<style>
	.pad_10
	{
		padding: 10px 0 10px 0px !important;
	}
	.hname{
	    font-size:22px !important; 
		color: #232323 !important;
	   }
	   body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

	</style>
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKFu5RJEbw7m_TNta9p2aZqwzP0Dq801M&signed_in=true&callback=initMap" async defer></script> -->

<script>

var adminPage = angular.module("adminPage",["ng-fusioncharts"]);
adminPage.controller('adminPage', function($scope,$http,$window){

	$scope.generic = function(){
		$scope.customerList = false;
		$scope.Bills = false
		$scope.showBillProfile = false
		$scope.customerProfileShow = false
		$scope.shipperRequests = false
		$scope.transporterRequests = false
		$scope.showHome = false
		$scope.charts_show = false
	}

	$scope.getHomeStats = function(){
		$scope.showHome = true
		$scope.charts_show = true
		$scope.charts()
	}
	
	$scope.getCustomers= function(){
		if($scope.customerList)$scope.customerList = false;
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getcustomerlist'
			}).then(function(res){
				
				$scope.customers = res.data.customerList
				$scope.generic()
				$scope.customerList = true
			});
		}
	}

	$scope.showBills = function(){
		if($scope.Bills)$scope.Bills = false;
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getbilllist'
			}).then(function(res){
				
				$scope.billList = res.data.billList
				$scope.generic()
				$scope.Bills = true
			});
		}
	}

	$scope.openBillDetails = function(billDetails){
		if ($scope.showBillProfile) $scope.showBillProfile = false
		else{
			$scope.billInfo = billDetails
			$scope.showBillProfile = true
		}
	}

	$scope.showCustomerProfile = function(customerDetails){
		if($scope.customerProfileShow) $scope.customerProfileShow = false
		else{
			$scope.customerProfileShow = true;
			$scope.customerDetails = customerDetails
		}
	}

	$scope.showOpenShipperRequests = function(){
		if($scope.shipperRequests){$scope.shipperRequests=false}
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getopenshipperrequests'
			}).then(function(res){
				$scope.pendingShipperRequests = res.data.shipperRequests
				$scope.generic()
				$scope.shipperRequests = true
			});
		}
	}

	$scope.showOpenTransporterRequests = function(){
		if($scope.transporterRequests){$scope.transporterRequests = false;}
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getopentransporterrequests'
			}).then(function(res){
				$scope.pendingTransporterRequests = res.data.transporterRequests
				$scope.generic()
				$scope.transporterRequests = true
			});

		}
	}


	$scope.charts = function(graphType){
		
		$scope.generic();
		$scope.charts_show = true;
		$scope.chats1_show = true;
			
			var revenuePerLocation = [];
			$http({
				method:'get',
				url:'/v1/revenueperlocation'
			}).then(function(res){
				revenuePerLocation = res.data.revenuePerLocation;
				chartDetails = {"caption":"Total Revenue Per Location","subCaption":"Today","xAxisName":"Location","yAxisName":"Revenue","data":revenuePerLocation};
				$scope.createChart("revenuePerLocation", chartDetails);
			}).then(function(){
				$http({
				method:'get',
				url:'/v1/tripsperlocation'
			}).then(function(res){
				data = res.data.tripsPerLocation;
				chartDetails = {"caption":"Total trips per pickup location","subCaption":"Today","xAxisName":"Name of State","yAxisName":"Number of Trips","data":data};
				$scope.createChart("tripsPerLocation", chartDetails);
			}).then(function(){
				$http({
				method:'get',
				url:'/v1/ridesperarea'
			}).then(function(res){
				data = res.data.ridesPerArea;
				chartDetails = {"caption":"Total Rides per drop off location","subCaption":"Today","xAxisName":"Driver ID","yAxisName":"Number of Trips","data":data};
				$scope.createChart("ridesPerArea", chartDetails);
			}).then(function(){
				$http({
				method:'get',
				url:'/v1/ridesperdriver'
			}).then(function(res){
				data = res.data.ridesPerDriver;
				chartDetails = {"caption":"Total Rides per Driver","subCaption":"","xAxisName":"Driver ID","yAxisName":"Number of Trips","data":data};
				$scope.createChart("ridesPerDriver", chartDetails);
			})
			})
			})})
		
			// var data = [];
			$scope.createMapChart();
			// $scope.chart = {"1":"1"};	
	}
		


	$scope.createChart = function(type, details){
		 FusionCharts.ready(function(){
			  var revenueChart = new FusionCharts({
			      "type": "line",
			      "renderAt": type,
			      "width": "500",
			      "height": "400",
			      "dataFormat": "json",
			      "dataSource":  {
			    	   "chart": {
			    	        "caption":  details.caption, 
			    	        "subCaption": details.subCaption,
			    	        "xAxisName": details.xAxisName,
			    	        "yAxisName": details.yAxisName,
			    	        "lineThickness": "2",
			    	        "paletteColors": "#0075c2",
			    	        "baseFontColor": "#333333",
			    	        "baseFont": "Helvetica Neue,Arial",
			    	        "captionFontSize": "14",
			    	        "subcaptionFontSize": "14",
			    	        "subcaptionFontBold": "0",
			    	        "showBorder": "0",
			    	        "bgColor": "#ffffff",
			    	        "showShadow": "0",
			    	        "canvasBgColor": "#ffffff",
			    	        "canvasBorderAlpha": "0",
			    	        "divlineAlpha": "100",
			    	        "divlineColor": "#999999",
			    	        "divlineThickness": "1",
			    	        "divLineDashed": "1",
			    	        "divLineDashLen": "1",
			    	        "divLineGapLen": "1",
			    	        "showXAxisLine": "1",
			    	        "xAxisLineThickness": "1",
			    	        "xAxisLineColor": "#999999",
			    	        "showAlternateHGridColor": "0"
			    	    },
			    	    "data":details.data 
			    	   }
			});
			revenueChart.render();
			}) 
	} 



	$scope.createMapChart = function(){
		FusionCharts.ready(function () {
		    var wrCoverage = new FusionCharts({
		        type: 'maps/usa',
		        renderAt: 'chartContainer',
		        width: '1500',
		        height: '600',
		        dataFormat: 'json',
		        dataSource: {
		            "chart": {
		                "theme": "fint",                
		                "caption": "Total delivery Report",
		                "subcaption": "Today",                
		                "showMarkerLabels":"0",
		                "numberSuffix": "%",
		                //Changing connector hover color
		                "connectorHoverColor": "#f8bd19",
		                //Changing connector hover thickness
		                "connectorHoverThickness": "3",
		                //Enabling entity hover effect
		                //Enabling marker hover effect
		                "showMarkerHoverEffect": "1",
		                //Changing marker fill color on hover
		                "markerFillHoverColor": "#cccccc",
		                "showLabels": "1"
		            },
		            "markers": {
		                "shapes": [
		                    {
		                        "id": "myCustomShape",
		                        "type": "circle",
		                        "fillcolor": "#f8bd19",
		                        "showborder": "0",
		                    }
		                ],
		                "items": [
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WA",
		                        "x": "54.5",
		                        "y": "44.8",
		                        "label": "Washington",
		                        "radius" : "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "OR",
		                        "x": "58.3",
		                        "y": "101.7",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "ID",
		                        "x": "132.8",
		                        "y": "110.7",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MT",
		                        "x": "188.8",
		                        "y": "45.1",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WY",
		                        "x": "220",
		                        "y": "121",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "AZ",
		                        "x": "165",
		                        "y": "261",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "UT",
		                        "x": "170",
		                        "y": "178",
		                        "radius": "1"
		                        
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NV",
		                        "x": "101",
		                        "y": "193",
		                        "radius": "1"
		                    },                    
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "LA",
		                        "x": "406",
		                        "y": "300",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "OK",
		                        "x": "347",
		                        "y": "245",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NM",
		                        "x": "238",
		                        "y": "263",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "CO",
		                        "x": "246.72",
		                        "y": "179.01",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "KS",
		                        "x": "335",
		                        "y": "195",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MO",
		                        "x": "408",
		                        "y": "197",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "AR",
		                        "x": "413",
		                        "y": "253",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MS",
		                        "x": "442",
		                        "y": "277",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NE",
		                        "x": "318",
		                        "y": "146",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "SD",
		                        "x": "311",
		                        "y": "99",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "ND",
		                        "x": "310",
		                        "y": "42",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MN",
		                        "x": "382",
		                        "y": "61",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WI",
		                        "x": "439",
		                        "y": "91",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "IA",
		                        "x": "396",
		                        "y": "139",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "IL",
		                        "x": "445",
		                        "y": "174",
		                        "radius": "1"
		                    },                    
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MI",
		                        "x": "502",
		                        "y": "114",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "IN",
		                        "x": "483",
		                        "y": "174",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "OH",
		                        "x": "530",
		                        "y": "168",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "KY",
		                        "x": "501",
		                        "y": "210",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WV",
		                        "x": "544",
		                        "y": "199",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "PA",
		                        "x": "593",
		                        "y": "155",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "VA",
		                        "x": "580",
		                        "y": "210",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NY",
		                        "x": "620",
		                        "y": "120",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "VT",
		                        "x": "654",
		                        "y": "95",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "ME",
		                        "x": "700",
		                        "y": "82",
		                        "radius": "1",
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NH",
		                        "x": "666",
		                        "y": "114",
		                        "radius": "1"
		                        
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MA",
		                        "x": "655",
		                        "y": "132",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "CT",
		                        "x": "654",
		                        "y": "146",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "TN",
		                        "x": "490",
		                        "y": "237",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "GA",
		                        "x": "522",
		                        "y": "283",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "AL",
		                        "x": "489",
		                        "y": "279",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "FL",
		                        "x": "539",
		                        "y": "350",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "TX",
		                        "x": "333",
		                        "y": "304",
		                        "label": "Texas",
		                        "value": "75",
		                        "tooltext": "Capacity utilization:$value% {br}Packages shipped/day : 253240 Units(avg) {br}Packages received/day: 253400 Units(avg){br}Daily operational cost: $4000(avg)"
		                    },                    
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NC",
		                        "x": "576",
		                        "y": "240",
		                        "label": "North Carolina",
		                        "value": "65",
		                        "tooltext": "Capacity utilization: $value%{br}Packages shipped/day : 311120 Units(avg){br}Packages received/day: 311320 Units(avg){br}Daily operational cost: $2000(avg)"
		                    },
		                     {
		                        "shapeid": "myCustomShape",
		                        "id": "CA",
		                        "x": "65.57",
		                        "y": "227.21",
		                        "label": "California",
		                        //Adding value to marker and making it data enabled
		                        "value": "80",
		                        "tooltext": "Capacity utilization: $value%{br}Packages shipped/day : 126140 Units(avg) {br}Packages received/day: 129500 Units(avg){br}Daily operational cost: $6000(avg)"
		                    },
		                ],
		                "connectors": [
		                    {
		                        "from": "CA",
		                        "to": "WA",
		                        "label": "20540",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.2"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "ID",
		                        "label": "17400",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.1"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "MT",
		                        "label": "15600",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.3"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "WY",
		                        "label": "18400",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "NV",
		                        "label": "19300",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "UT",
		                        "label": "16500",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.5"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "AZ",
		                        "label": "18400",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.5"
		                    },                    
		                    {
		                        "from": "TX",
		                        "to": "NM",
		                        "label": "21300",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "LA",
		                        "label": "15440",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "OK",
		                        "label": "16800",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    
		                    {
		                        "from": "TX",
		                        "to": "CO",
		                        "label": "17200",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.1"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "KS",
		                        "label": "13670",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.5"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "MO",
		                        "label": "12560",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.3"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "AR",
		                        "label": "19200",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "MS",
		                        "label": "18760",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.6"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "NE",
		                        "label": "16870",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "SD",
		                        "label": "17300",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "ND",
		                        "label": "19900",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "MN",
		                        "label": "16100",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "WI",
		                        "label": "14890",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "IA",
		                        "label": "15600",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: 1.3"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "IL",
		                        "label": "17650",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },                    
		                    {
		                        "from": "NC",
		                        "to": "IN",
		                        "label": "14700",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "MI",
		                        "label": "18200",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "OH",
		                        "label": "16540",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "KY",
		                        "label": "15850",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "WV",
		                        "label": "16430",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "PA",
		                        "label": "15600",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "VT",
		                        "label": "18400",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "NH",
		                        "label": "16900",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "MA",
		                        "label": "16590",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.2"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "CT",
		                        "label": "18340",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "ME",
		                        "label": "14680",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "NY",
		                        "label": "23600",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "TN",
		                        "label": "19800",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.6"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "AL",
		                        "label": "13400",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "VA",
		                        "label": "17260",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.2"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "GA",
		                        "label": "17400",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "SC",
		                        "label": "16230",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.2"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "FL",
		                        "label": "21200",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    }
		                ]
		            }                          
		        }
		    }).render();
		});
	}

	$scope.signOut = function(){
		$scope.generic()
		$http({
			method:'get',
			url:'/signout'
		}).then(function(res){
			console.log(res)
			$window.location.href="/"
			// $window.location.href = '/admin';
		});
	}


});




</script>

</head>
<body ng-app="adminPage" ng-controller="adminPage">
 <!--    <div style="width:100%;">
	<p><a ng-click="home();"><img src="" style="margin-left:1%;margin-top: 0.5%;margin-bottom: 0.5%;"alt="Social Delivery Service" /></a>
            <a class="cur" ng-click="logout();" style='float: right;margin-right: 3%;margin-top: 1%;color: whitesmoke;'>SignOut</a>
        </p>
    </div> -->
  <div class="wrap" style="width:95%" ng-init="getHomeStats()">
      
	<!-- <div class="header">
		<div class="header_bottom">
		 	<div class="menu">
		 		<ul>
			    	<li><a class="cur" ng-click="getCustomers()">Customer List</a></li>
					<li><a class="cur" ng-click="showBills()">Completed Trips</a></li>
					<li><a class="cur" ng-click="showOpenShipperRequests()">Open Shipper Requests</a></li>
					<li><a class="cur" ng-click="showOpenTransporterRequests()">Open Transporter Requests</a></li>
					<li><a class="cur" ng-click="chartsShow();">Statics</a></li>
				</ul>
		 	</div>
		     
		</div>	     
   </div> -->

   <!-- navigation -->
  	<div class="w3-top">
	  	<div class="w3-bar w3-black w3-card-2">
		    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large" ng-click="getHomeStats()">Home</a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small" ng-click="getCustomers()">Customers</a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small" ng-click="showBills()">Successfull Trips</a>
		    <div class="w3-dropdown-hover w3-hide-small">
		      	<button class="w3-padding-large w3-button" title="More">Pending Requests <i class="fa fa-caret-down"></i></button>     
		      	<div class="w3-dropdown-content w3-bar-block w3-card-4">
			        <a href="#" class="w3-bar-item w3-button" ng-click="showOpenShipperRequests()">Shipper Requests</a>
			        <a href="#" class="w3-bar-item w3-button" ng-click="showOpenTransporterRequests()">Transporter Requests</a>
		      	</div>
		    </div>
		    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right" ng-click="signOut()">Sign Out</a>
	  	</div>
	</div>

<!-- end navigation -->


<!-- cards -->

            <div class="row cards" ng-show="showHome">
              
              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-redbrown hover">
                  <div class="front"> 

                    <div class="media">        
                      <span class="pull-left">
                        <i class="fa fa-users media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>New Users</small>
                        <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-blue hover">
                  <div class="front">        
                    
                    <div class="media">                  
                      <span class="pull-left">
                        <i class="fa fa-shopping-cart media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>New Orders</small>
                        <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>



              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-greensea hover">
                  <div class="front">        
                    
                    <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-usd media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Sales</small>
                        <h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
                      </div>
                    </div>

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-slategray hover">
                  <div class="front"> 

                    <div class="media">                   
                      <span class="pull-left">
                        <i class="fa fa-eye media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Visits</small>
                        <h2 class="media-heading animate-number" data-value="9634" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="25" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


            </div>


<!-- end cards -->

 <div class="main">
    <div class="content" style="width:92%; margin: 0 auto;">
    	
 		<div ng-show="customerList">
    	<div class="content_top">
    		<div class="heading">
                    <h3>Customer List: </h3>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
    	
    	
     	<div class="content_top content_top1" ng-repeat = "data in customers ">
     	
    		<div class="heading content_name">
                    <h3>{{data.firstName}} {{data.lastName}}</h3>
    		</div>
    		<div align="center" class="content_email">
    		<h3>{{data.emailID}}</h3>
    		</div>
    		<div align="right" class="content_add_delete">
			<div align="center">
    			<a class="button btn1 cur" ng-click="showCustomerProfile(data)">View Profile</a>
    				<a class="button btn2 cur" ng-click="deleteCustomer(names.cKey);">Delete</a>
    		</div>
			</div>
    		
    		<div class="clear"></div>
    	</div> 
		</div>
    	

  		<div ng-show="Bills">
    	<div class="content_top">
    		<div class="heading">
                    <h3>Bills :</h3>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
    	
    	
    	<div class="content_top" ng-repeat="data in billList | filter:searchBill">
    		<div class="heading">
                    <h3>Bill ID:{{data.transporter.id}}{{data.shipper.id}}</h3>
                    <h4>Tansporter: {{data.transporter.name}}</h4>
                    <h4>Shipper: {{data.shipper.name}}</h4>
    		 </div>
    		
    		<div align="right">
    		<a class="button btn1 cur" ng-click="openBillDetails(data);">View Bill</a>
    		<a class="button btn2 cur" ng-click="deleteBill(names.bill_id);">Delete</a>
    		</div>
    		
    		<div class="clear"></div>
    		</div>
    		
    		<div>
			</div>
    	</div> 
    
    	
	<div ng-show="customerProfileShow">
	<div class="main">
		<div class="content">
		
			<div class="section group">
				<div class="cont-desc span_1_of_2">
					<div class="product-details">
		<!-- 				<div class="grid images_3_of_2">
							<div id="container">
								<div id="products_example">
									<div id="products">
										<div class="slides_container"
											style="overflow: hidden; position: relative; display: block; width: 320px; height: 276px;">
											<img src="https://abs.twimg.com/a/1456787276/img/t1/highline/empty_state/owner_empty_avatar.png"
												style="max-height: 275px; min-height: 320px;" />
										</div>
									</div>
								</div>
							</div>
						</div> -->

						<div class="desc span_3_of_2" align="left">

							<table class="table_fdesc" width="93%" border="0" cellspacing="10" cellpadding="10">

							  <tbody>
							  <tr>
							  	 <td>Customer Profile</td>
							  </tr>
							  <tr>
								  <td>Name: </td>
								  <td class="td2_content name">{{customerDetails.firstName}} {{customerDetails.lastName}}</td>
								</tr>
								
								<tr>
								  <td>ID: </td>
								  <td class="td2_content">{{customerDetails.userID}}</td>
								</tr>
								
								<tr>
								  <td>Email: </td>
								  <td class="td2_content">{{customerDetails.emailID}}</td>
								</tr>
								
								<tr>
								  <td>Phone Number: </td>
								  <td class="td2_content">{{customerDetails.cell}}</td>
								</tr>
								
								<tr>
								  <td>Address: </td>
								  <td class="td2_content">{{customerDetails.address[0].street}}</td>
								</tr>
								
								<tr>
								  <td>City: </td>
								  <td class="td2_content">{{customerDetails.address[0].city}}</td>
								</tr>
								
								<tr>
								  <td>State: </td>
								  <td class="td2_content">{{customerDetails.address[0].state}}</td>
								</tr>
								
								<tr>
								  <td>Zip: </td>
								  <td class="td2_content">{{customerDetails.address[0].zip}}</td>
								</tr>
							  </tbody>
							</table>
							<div class="share-desc" align="left">
								<div class="clear"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
					</div>
	</div>
	
 
 	 <div ng-show="showBillProfile">
	 <div class="content_top">
    					<div class="heading">
                    		<h3 >Bill Information: </h3>
    					</div>
    		
    					<div class="clear"></div>
    				</div>   
         <div style="width:35%; float:left; display:inline-block;">
				     							
				<table class="table_fdesc" border="0" cellspacing="10" cellpadding="10">
				  <tbody>
				  <tr>
					  <td>ID: </td>
					  <td class="td2_content name">{{billInfo._id}}</td>
				   </tr>
				  <tr>
				  
				  <tr>
					  <td>Total Amount: </td>
					  <td class="td2_content name">{{billInfo.packageDetails.price}}</td>
				   </tr>
				  <tr>
					  <td>Date: </td>
					  <td class="td2_content">{{billInfo.timestamp}}</td>
				   </tr>
				  <tr>
					  <td>Shipper ID: </td>
					  <td class="td2_content ">{{billInfo.shipper.id}}</td>
					  <td>Shipper Name: </td>
					  <td class="td2_content ">{{billInfo.shipper.name}}</td>
				   </tr>
				   <tr>
					  <td>Transporter ID: </td>
					  <td class="td2_content ">{{billInfo.transporter.id}}</td>
					  <td>Transporter Name: </td>
					  <td class="td2_content ">{{billInfo.transporter.name}}</td>
				   </tr>
				  <tr>
					  <td>Pickup Location: </td>
					  <td class="td2_content">{{billInfo.pickupLocation.street}},{{billInfo.pickupLocation.apt}}</td>
					  <td class="td2_content">{{billInfo.pickupLocation.city}},{{billInfo.pickupLocation.state}}</td>
					  <td class="td2_content">{{billInfo.pickupLocation.zip}},{{billInfo.pickupLocation.country}}</td>
				   </tr>
				  <tr>
					  <td>Dropoff Location: </td>
					  <td class="td2_content">{{billInfo.dropoffLocation.street}},{{billInfo.dropoffLocation.apt}}</td>
					  <td class="td2_content">{{billInfo.dropoffLocation.city}},{{billInfo.dropoffLocation.state}}</td>
					  <td class="td2_content">{{billInfo.dropoffLocation.zip}},{{billInfo.dropoffLocation.country}}</td>
				   </tr>
				  <tr>
					  <td>Package Details: </td>
					  <td>Title:</td>
					  <td class="td2_content">{{billInfo.packageDetails.title}}</td>
					  <td>Note:</td>
					  <td class="td2_content">{{billInfo.packageDetails.note}}</td>
					  <td>Size:</td>
					  <td class="td2_content">{{billInfo.packageDetails.size}}</td>
				   </tr>
				     </tbody>
				     
				 </table>
				  	 
                  </div>
		 		 <div style="width:12%; float:left; display:inline-block;">
                  	
                  	<div ng-show="GoogleMaps_Show" style="width:1368px;height:400px;">
		
    				<div id="map"></div>
		
		
				</div>
                  
                  </div>

                  <div>
                   <div style="width:100%; display: block; clear: both;">
				<div style="width:28%;" class="grid_1_of_4 images_1_of_4" ng-repeat = "productInfo in names.billingProducts">
					
					 	<h2>{{productInfo.bProductName}} ( {{productInfo.bProductID}} )</h2>
						<div class="price-details">
				      		 <div class="price-number">
								<p><span class="rupees">${{productInfo.bProductPrice}}</span></p>
								<p><span class="rupees"> Quantity:{{productInfo.bProductQuantity}}</span></p>
								<p><span class="rupees">Sub Total:${{productInfo.pTotal}}</span></p>
					    	</div>
					
						<div class="clear"></div>
					</div>
					 
				</div>
				</div> 
                  
                  </div>
                  
	</div>
 

				 <div ng-show="shipperRequests">
					<div ng-repeat="data in pendingShipperRequests">
						<div class="request_margin">
				        	<h3>{{data.name}} </h3>
				    		<h3>Pickup location: {{data.pickupLocation.zip}}</h3>
				    		<h3>Dropoff location: {{data.dropoffLocation.zip}}</h3>
				    		<h3>Desired Date of Shipping: {{data.desiredDate}}</h3>
						</div>
					</div>
				</div>

				<div ng-show="transporterRequests">
					<div ng-repeat="data in pendingTransporterRequests">
						<div class="request_margin">
				        	<h3>{{data.name}} </h3>
				    		<h3>Pickup location: {{data.sourceAddress.zip}}</h3>
				    		<h3>Dropoff location: {{data.destinationAddress.zip}}</h3>
				    		<h3>Flexible Commute Range: {{data.additionalDesiredCommuteRange}} miles</h3>
				    		<h3>Travel Date: {{data.travelDate}}</h3>
				    		<h3>Vehicle Type: {{data.vehicleType}}</h3>
						</div>
					</div>
				</div>

	
	<div ng-show="charts_show">
		<h3 align="center">Total stats by Map</h3><br/>
		<div id="chartContainer">
			<div >Data Chat will load here!</div>
		</div>
		<br/>

		<div class="container">
			<div class="row">
			 	<div class="col-sm-6">
			 	<br/>
			 		<h3>Revenue Per location</h3><br/>
					<div id="revenuePerLocation">Data Chat will load here!</div>
				</div>
				<br/>
				<div class="col-sm-6">
					<h3>Trips Per pickup location</h3><br/>
					<div id="tripsPerLocation">Data Chat will load here!</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
				<br/>
					<h3>Trips per dropoff location</h3><br/>
					<div id="ridesPerArea">Data Chat will load here!</div>
				</div>
				<br/>
				<div class="col-sm-6">
					<h3>Trips Per driver</h3><br/>
					<div id="ridesPerDriver">Data Chat will load here!</div>
				</div>
				<br/>
			</div>

		</div>
		 
    </div>
    	
			
    </div>
 </div>
</div>
   <!--  <div class="footer" style="background-image:url(images/strip.png); display: block; clear: both;">
   	  
        <div class="copy_right">
				<p style="margin-top: 0.5%;margin-bottom: 0.5%;">Social Delivery Service </p>
		   </div>
    </div>  -->   
</body>
</html>
