<!DOCTYPE HTML>
<head>
<title>Admin Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon"
	href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
	type="image/vnd.microsoft.icon" /><link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/adminHome.css" rel="stylesheet" type="text/css" media="all"/>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/startstop-slider.js"></script>
<script type="text/javascript" src="/js/fusioncharts.js"></script>
<script type="text/javascript" src="/js/themes/fusioncharts.theme.fint.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/angular-fusioncharts.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>	

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	
<style>
	.pad_10
	{
		padding: 10px 0 10px 0px !important;
	}
	.hname{
	    font-size:22px !important; 
		color: #232323 !important;
	   }
	   body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

	</style>
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKFu5RJEbw7m_TNta9p2aZqwzP0Dq801M&signed_in=true&callback=initMap" async defer></script> -->

<script>

var adminPage = angular.module("adminPage",[]);
adminPage.controller('adminPage', function($scope,$http,$window){

	$scope.generic = function(){
		$scope.customerList = false;
		$scope.Bills = false
		$scope.showBillProfile = false
		$scope.customerProfileShow = false
		$scope.shipperRequests = false
		$scope.transporterRequests = false
	}
	
	$scope.getCustomers= function(){
		if($scope.customerList)$scope.customerList = false;
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getcustomerlist'
			}).then(function(res){
				
				$scope.customers = res.data.customerList
				$scope.generic()
				$scope.customerList = true
			});
		}
	}

	$scope.showBills = function(){
		if($scope.Bills)$scope.Bills = false;
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getbilllist'
			}).then(function(res){
				
				$scope.billList = res.data.billList
				$scope.generic()
				$scope.Bills = true
			});
		}
	}

	$scope.openBillDetails = function(billDetails){
		if ($scope.showBillProfile) $scope.showBillProfile = false
		else{
			$scope.billInfo = billDetails
			$scope.showBillProfile = true
		}
	}

	$scope.showCustomerProfile = function(customerDetails){
		if($scope.customerProfileShow) $scope.customerProfileShow = false
		else{
			$scope.customerProfileShow = true;
			$scope.customerDetails = customerDetails
		}
	}

	$scope.showOpenShipperRequests = function(){
		if($scope.shipperRequests){$scope.shipperRequests=false}
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getopenshipperrequests'
			}).then(function(res){
				$scope.pendingShipperRequests = res.data.shipperRequests
				$scope.generic()
				$scope.shipperRequests = true
			});
		}
	}

	$scope.showOpenTransporterRequests = function(){
		if($scope.transporterRequests){$scope.transporterRequests = false;}
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getopentransporterrequests'
			}).then(function(res){
				$scope.pendingTransporterRequests = res.data.transporterRequests
				$scope.generic()
				$scope.transporterRequests = true
			});

		}
	}

	$scope.chartsShow = function(){
		$scope.genericShow();
		$scope.charts_show = true;
	}


	$scope.signOut = function(){
		$scope.generic()
		$http({
			method:'get',
			url:'/v1/signout'
		}).then(function(res){

		});
	}


});




</script>

</head>
<body ng-app="adminPage" ng-controller="adminPage">
 <!--    <div style="width:100%;">
	<p><a ng-click="home();"><img src="" style="margin-left:1%;margin-top: 0.5%;margin-bottom: 0.5%;"alt="Social Delivery Service" /></a>
            <a class="cur" ng-click="logout();" style='float: right;margin-right: 3%;margin-top: 1%;color: whitesmoke;'>SignOut</a>
        </p>
    </div> -->
  <div class="wrap" style="width:95%">
      
	<!-- <div class="header">
		<div class="header_bottom">
		 	<div class="menu">
		 		<ul>
			    	<li><a class="cur" ng-click="getCustomers()">Customer List</a></li>
					<li><a class="cur" ng-click="showBills()">Completed Trips</a></li>
					<li><a class="cur" ng-click="showOpenShipperRequests()">Open Shipper Requests</a></li>
					<li><a class="cur" ng-click="showOpenTransporterRequests()">Open Transporter Requests</a></li>
					<li><a class="cur" ng-click="chartsShow();">Statics</a></li>
				</ul>
		 	</div>
		     
		</div>	     
   </div> -->
   <!-- navigation -->
  	<div class="w3-top">
	  	<div class="w3-bar w3-black w3-card-2">
		    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large" ng-click="getHomeStats()">Home</a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small" ng-click="getCustomers()">Customer List</a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small" ng-click="showBills()">Successfull Trips</a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small" ng-click="chartsShow()">Statics</a>
		    <div class="w3-dropdown-hover w3-hide-small">
		      	<button class="w3-padding-large w3-button" title="More">Pending Requests <i class="fa fa-caret-down"></i></button>     
		      	<div class="w3-dropdown-content w3-bar-block w3-card-4">
			        <a href="#" class="w3-bar-item w3-button" ng-click="showOpenShipperRequests()">Shipper Requests</a>
			        <a href="#" class="w3-bar-item w3-button" ng-click="showOpenTransporterRequests()">Transporter Requests</a>
		      	</div>
		    </div>
		    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right" ng-click="signOut()">Sign Out</a>
	  	</div>
	</div>

<!-- end navigation -->

 <div class="main">
    <div class="content" style="width:92%; margin: 0 auto;">
    	
 		<div ng-show="customerList">
    	<div class="content_top">
    		<div class="heading">
                    <h3>Customer List: </h3>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
    	
    	
     	<div class="content_top content_top1" ng-repeat = "data in customers ">
     	
    		<div class="heading content_name">
                    <h3>{{data.firstName}} {{data.lastName}}</h3>
    		</div>
    		<div align="center" class="content_email">
    		<h3>{{data.emailID}}</h3>
    		</div>
    		<div align="right" class="content_add_delete">
			<div align="center">
    			<a class="button btn1 cur" ng-click="showCustomerProfile(data)">View Profile</a>
    				<a class="button btn2 cur" ng-click="deleteCustomer(names.cKey);">Delete</a>
    		</div>
			</div>
    		
    		<div class="clear"></div>
    	</div> 
		</div>
    	

  		<div ng-show="Bills">
    	<div class="content_top">
    		<div class="heading">
                    <h3>Bills :</h3>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
    	
    	
    	<div class="content_top" ng-repeat="data in billList | filter:searchBill">
    		<div class="heading">
                    <h3>Bill ID:{{data.transporter.id}}{{data.shipper.id}}</h3>
                    <h4>Tansporter: {{data.transporter.name}}</h4>
                    <h4>Shipper: {{data.shipper.name}}</h4>
    		 </div>
    		
    		<div align="right">
    		<a class="button btn1 cur" ng-click="openBillDetails(data);">View Bill</a>
    		<a class="button btn2 cur" ng-click="deleteBill(names.bill_id);">Delete</a>
    		</div>
    		
    		<div class="clear"></div>
    		</div>
    		
    		<div>
			</div>
    	</div> 
    
    	
	<div ng-show="customerProfileShow">
	<div class="main">
		<div class="content">
		
			<div class="section group">
				<div class="cont-desc span_1_of_2">
					<div class="product-details">
		<!-- 				<div class="grid images_3_of_2">
							<div id="container">
								<div id="products_example">
									<div id="products">
										<div class="slides_container"
											style="overflow: hidden; position: relative; display: block; width: 320px; height: 276px;">
											<img src="https://abs.twimg.com/a/1456787276/img/t1/highline/empty_state/owner_empty_avatar.png"
												style="max-height: 275px; min-height: 320px;" />
										</div>
									</div>
								</div>
							</div>
						</div> -->

						<div class="desc span_3_of_2" align="left">

							<table class="table_fdesc" width="93%" border="0" cellspacing="10" cellpadding="10">

							  <tbody>
							  <tr>
							  	 <td>Customer Profile</td>
							  </tr>
							  <tr>
								  <td>Name: </td>
								  <td class="td2_content name">{{customerDetails.firstName}} {{customerDetails.lastName}}</td>
								</tr>
								
								<tr>
								  <td>ID: </td>
								  <td class="td2_content">{{customerDetails.userID}}</td>
								</tr>
								
								<tr>
								  <td>Email: </td>
								  <td class="td2_content">{{customerDetails.emailID}}</td>
								</tr>
								
								<tr>
								  <td>Phone Number: </td>
								  <td class="td2_content">{{customerDetails.cell}}</td>
								</tr>
								
								<tr>
								  <td>Address: </td>
								  <td class="td2_content">{{customerDetails.address[0].street}}</td>
								</tr>
								
								<tr>
								  <td>City: </td>
								  <td class="td2_content">{{customerDetails.address[0].city}}</td>
								</tr>
								
								<tr>
								  <td>State: </td>
								  <td class="td2_content">{{customerDetails.address[0].state}}</td>
								</tr>
								
								<tr>
								  <td>Zip: </td>
								  <td class="td2_content">{{customerDetails.address[0].zip}}</td>
								</tr>
							  </tbody>
							</table>
							<div class="share-desc" align="left">
								<div class="clear"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
					</div>
	</div>
	
 
 	 <div ng-show="showBillProfile">
	 <div class="content_top">
    					<div class="heading">
                    		<h3 >Bill Information: </h3>
    					</div>
    		
    					<div class="clear"></div>
    				</div>   
         <div style="width:35%; float:left; display:inline-block;">
				     							
				<table class="table_fdesc" border="0" cellspacing="10" cellpadding="10">
				  <tbody>
				  <tr>
					  <td>ID: </td>
					  <td class="td2_content name">{{billInfo._id}}</td>
				   </tr>
				  <tr>
				  
				  <tr>
					  <td>Total Amount: </td>
					  <td class="td2_content name">{{billInfo.packageDetails.price}}</td>
				   </tr>
				  <tr>
					  <td>Date: </td>
					  <td class="td2_content">{{billInfo.timestamp}}</td>
				   </tr>
				  <tr>
					  <td>Shipper ID: </td>
					  <td class="td2_content ">{{billInfo.shipper.id}}</td>
					  <td>Shipper Name: </td>
					  <td class="td2_content ">{{billInfo.shipper.name}}</td>
				   </tr>
				   <tr>
					  <td>Transporter ID: </td>
					  <td class="td2_content ">{{billInfo.transporter.id}}</td>
					  <td>Transporter Name: </td>
					  <td class="td2_content ">{{billInfo.transporter.name}}</td>
				   </tr>
				  <tr>
					  <td>Pickup Location: </td>
					  <td class="td2_content">{{billInfo.pickupLocation.street}},{{billInfo.pickupLocation.apt}}</td>
					  <td class="td2_content">{{billInfo.pickupLocation.city}},{{billInfo.pickupLocation.state}}</td>
					  <td class="td2_content">{{billInfo.pickupLocation.zip}},{{billInfo.pickupLocation.country}}</td>
				   </tr>
				  <tr>
					  <td>Dropoff Location: </td>
					  <td class="td2_content">{{billInfo.dropoffLocation.street}},{{billInfo.dropoffLocation.apt}}</td>
					  <td class="td2_content">{{billInfo.dropoffLocation.city}},{{billInfo.dropoffLocation.state}}</td>
					  <td class="td2_content">{{billInfo.dropoffLocation.zip}},{{billInfo.dropoffLocation.country}}</td>
				   </tr>
				  <tr>
					  <td>Package Details: </td>
					  <td>Title:</td>
					  <td class="td2_content">{{billInfo.packageDetails.title}}</td>
					  <td>Note:</td>
					  <td class="td2_content">{{billInfo.packageDetails.note}}</td>
					  <td>Size:</td>
					  <td class="td2_content">{{billInfo.packageDetails.size}}</td>
				   </tr>
				     </tbody>
				     
				 </table>
				  	 
                  </div>
		 		 <div style="width:12%; float:left; display:inline-block;">
                  	
                  	<div ng-show="GoogleMaps_Show" style="width:1368px;height:400px;">
		
    				<div id="map"></div>
		
		
				</div>
                  
                  </div>

                  <div>
                   <div style="width:100%; display: block; clear: both;">
				<div style="width:28%;" class="grid_1_of_4 images_1_of_4" ng-repeat = "productInfo in names.billingProducts">
					
					 	<h2>{{productInfo.bProductName}} ( {{productInfo.bProductID}} )</h2>
						<div class="price-details">
				      		 <div class="price-number">
								<p><span class="rupees">${{productInfo.bProductPrice}}</span></p>
								<p><span class="rupees"> Quantity:{{productInfo.bProductQuantity}}</span></p>
								<p><span class="rupees">Sub Total:${{productInfo.pTotal}}</span></p>
					    	</div>
					
						<div class="clear"></div>
					</div>
					 
				</div>
				</div> 
                  
                  </div>
                  
	</div>
 

				 <div ng-show="shipperRequests">
					<div ng-repeat="data in pendingShipperRequests">
						<div class="request_margin">
				        	<h3>{{data.name}} </h3>
				    		<h3>Pickup location: {{data.pickupLocation.zip}}</h3>
				    		<h3>Dropoff location: {{data.dropoffLocation.zip}}</h3>
				    		<h3>Desired Date of Shipping: {{data.desiredDate}}</h3>
						</div>
					</div>
				</div>

				<div ng-show="transporterRequests">
					<div ng-repeat="data in pendingTransporterRequests">
						<div class="request_margin">
				        	<h3>{{data.name}} </h3>
				    		<h3>Pickup location: {{data.sourceAddress.zip}}</h3>
				    		<h3>Dropoff location: {{data.destinationAddress.zip}}</h3>
				    		<h3>Flexible Commute Range: {{data.additionalDesiredCommuteRange}} miles</h3>
				    		<h3>Travel Date: {{data.travelDate}}</h3>
				    		<h3>Vehicle Type: {{data.vehicleType}}</h3>
						</div>
					</div>
				</div>

	
	<div ng-show="charts_show">
		 
		 <div class="content_top">
    		<div class="heading">
                    <h3>Statics:</h3>
    		</div>
    		
    		<div class="clear"></div>
    	</div>
		<br>
		<div> 
		 
		<select name="graphType" id="graphType" ng-model="graphType" ng-change="charts(graphType)">
      		<option value="">---Please select---</option>
      		<option value="RevenuePerLocation">Revenue/day and TotalDelivery </option>
      		<option value="TripsPerLocation">Trips per Location</option>
      		<option value="RidesPerArea">Rides per Area</option>
      		<option value="RidesPerDriver">Rides per Driver</option>
      		<option value="RidesPerCustomer">Rides per Customer</option>
      		<option value="map">Map</option>
    	</select><br>
		
		</div>
		 
    </div>
    
    <div ng-show="chats1_show">
	
		 <div id="chartContainer">Data Chat will load here!</div>
	


	</div>
    
   	<div ng-show="truckList_Show" class="content_top" >
   	
   	 <div class="content_top">
    	<div class="heading">
            <h3>Trip List:</h3>
    	</div>
    		
    	<div class="clear"></div>
    </div>
   	
   	<a class="button cur" ng-click="showTripsOfTruck();">Truck List</a><br/>
   	<br>
   	<div ng-show="tripsOfTruck">
   		<div ng-repeat = "trucks in trucksArray | filter:searchTruck" style="padding-top:15px;">
    		<div class="heading" style="width:25%; display: block; float: left;">
                    <h3>{{trucks.truck_id}} </h3>
    		</div>
    		<div align="center" style="width:70%; display: block; float: right; color: #383838; text-align:left;">
    		<h3>   <span style="font-weight:bold; color: #232323;"> Drop off Location:</span>{{trucks.tDropLocation}} </h3><br/>
    		<h3>  <span style="font-weight:bold; color: #232323;">Pickup Location:</span>{{trucks.tPickupLocation}}</h3><br/>
    		</div>
 
    		
    		<div class="clear"></div>
    		</div>
    			<div>
    	<center>
    	<button class="cur" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
					{{currentPage+1}}/{{numberOfPages(trucksArray)}}
					<button class="cur" ng-disabled="currentPage >= trucksArray.length/pageSize - 1" ng-click="currentPage=currentPage+1">
					Next </button>
					</center> 
				</div>
    		</div>
    	
    		
    		<a class="button cur" ng-click="showTripsOfDriver();">Driver List</a>
    		
    		<br/><br>
    		
    		<div ng-show="tripsOfDriver">
    		<div ng-repeat = "trucks in trucksArray | filter:searchTruck "  style="padding-top:15px;">
    		<div class="heading" style="width:25%; display: block; float: left;">
                    <h3>{{trucks.driver_id}}</h3>
    		</div>
    		<div align="center" style="width:70%; display: block; float: right; color: #383838; text-align:left;">
    			<h3>    <span style="font-weight:bold; color: #232323;">Drop off Location:</span>{{trucks.tDropLocation}} </h3><br/>
    		<h3>  <span style="font-weight:bold; color: #232323;">Pickup Location:</span>{{trucks.tPickupLocation}}</h3><br/>
    		</div>
    		
    		<div class="clear"></div>
    		</div>
    					<div>
    		<center>
    	<button class="cur" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
					{{currentPage+1}}/{{numberOfPages(trucksArray)}}
					<button class="cur" ng-disabled="currentPage >= trucksArray.length/pageSize - 1" ng-click="currentPage=currentPage+1">
					Next </button>
					</center> 
				</div>
    		</div>

    		
    </div>  
    
    
    		
			
    </div>
 </div>
</div>
   <!--  <div class="footer" style="background-image:url(images/strip.png); display: block; clear: both;">
   	  
        <div class="copy_right">
				<p style="margin-top: 0.5%;margin-bottom: 0.5%;">Social Delivery Service </p>
		   </div>
    </div>  -->   
</body>
</html>
