<!DOCTYPE HTML>
<head>
<title>Admin Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon"
	href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
	type="image/vnd.microsoft.icon" /><link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" media="all" href="/css/admin1.css" />
<link rel="stylesheet" media="all" href="/css/admin2.css" />

<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/adminHome.css" rel="stylesheet" type="text/css" media="all"/>

<script src="/js/angular.js"></script>
<script src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/startstop-slider.js"></script>
<script type="text/javascript" src="/js/fusioncharts.js"></script>
<script type="text/javascript" src="/js/themes/fusioncharts.theme.fint.js"></script>

<script src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/angular-fusioncharts.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- template css -->
    <!-- <link href="../../maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- <link type="text/css" rel="stylesheet" media="all" href="/css/jquery.mmenu.all.css" /> -->
    <!-- <link rel="stylesheet" href="/css/jquery.videobackground.css"> -->
    <!-- <link rel="stylesheet" href="/css/bootstrap-checkbox.css"> -->
    <!-- <link rel="stylesheet" href="/css/bootstrap-dropdown-multilevel.css"> -->

    <link rel="stylesheet" href="/css/rickshaw.min.css">
    <link rel="stylesheet" href="/css/morris.css">
    <link rel="stylesheet" href="/css/tabdrop.css">
    <link rel="stylesheet" href="/css/summernote.css">
    <link rel="stylesheet" href="/css/summernote-bs3.css">
    <link rel="stylesheet" href="/css/chosen.min.css">
    <link rel="stylesheet" href="/css/chosen-bootstrap.css">


	
<style>
	.pad_10
	{
		padding: 10px 0 10px 0px !important;
	}
	.hname{
	    font-size:22px !important; 
		color: #232323 !important;
	   }
	   body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

	</style>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5sfbUPXiX4jbxe_a9OHuvkCNN6-tXiHQ" async defer></script>

<script>

var adminPage = angular.module("adminPage",["ng-fusioncharts"]);
adminPage.controller('adminPage', function($scope,$http,$window){

	$scope.generic = function(){
		$scope.customerList = false;
		$scope.Bills = false
		$scope.showBillProfile = false
		$scope.customerProfileShow = false
		$scope.shipperRequests = false
		$scope.transporterRequests = false
		$scope.showHome = false
		$scope.charts_show = false
		$scope.GoogleMaps_Show = false;
	}

	$scope.getHomeStats = function(){
		$scope.showHome = true
		$scope.charts_show = true
		$scope.charts()
	}
	
	$scope.getCustomers= function(){
		if($scope.customerList)$scope.customerList = false;
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getcustomerlist'
			}).then(function(res){
				
				$scope.customers = res.data.customerList
				$scope.generic()
				$scope.customerList = true
			});
		}
	}

	$scope.showBills = function(){
		if($scope.Bills)$scope.Bills = false;
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getbilllist'
			}).then(function(res){
				
				$scope.billList = res.data.billList
				$scope.generic()
				$scope.Bills = true
			});
		}
	}

	$scope.openBillDetails = function(billDetails){

		if ($scope.showBillProfile) $scope.showBillProfile = false
		else{
			$scope.generic()
			$scope.billInfo = billDetails
			$scope.shipperReward = billDetails.packageDetails.price-(billDetails.packageDetails.price-(billDetails.packageDetails.price*0.75))
			$scope.insurance = billDetails.packageDetails.price - $scope.shipperReward 
			$scope.showBillProfile = true
			$scope.GoogleMaps_Show = true
			$scope.initMap(billDetails)
		}
	}

	$scope.showCustomerProfile = function(customerDetails){
		if($scope.customerProfileShow) $scope.customerProfileShow = false
		else{
			
			$http({
		        method:'post',
		        url:'/v1/getcustomerfeedback',
		        data:{
		            userID:customerDetails.userID,
		        },
		    }).then(function(res){
		    	$scope.customerFeedback = res.data.reviews[0].reviewsReceived
		        $scope.generic()
				$scope.customerProfileShow = true;
				$scope.customerDeliveries = Math.floor(Math.random()*5)
				$scope.customerDetails = customerDetails
		    });
		}
	}

	$scope.showOpenShipperRequests = function(){
		if($scope.shipperRequests){$scope.shipperRequests=false}
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getopenshipperrequests'
			}).then(function(res){
				console.log(res.data)
				$scope.pendingShipperRequests = res.data.shipperRequests
				$scope.generic()
				$scope.shipperRequests = true
			});
		}
	}

	$scope.showOpenTransporterRequests = function(){
		if($scope.transporterRequests){$scope.transporterRequests = false;}
		else{
			$scope.generic()
			$http({
				method:'get',
				url:'/v1/getopentransporterrequests'
			}).then(function(res){
				console.log(res.data)
				$scope.pendingTransporterRequests = res.data.transporterRequests
				$scope.generic()
				$scope.transporterRequests = true
			});

		}
	}


	$scope.initMap = function(billDetails) {
		var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 1,
          center: {lat: 41.85, lng: -87.65}
        });
		
		// var geocoder = new google.maps.Geocoder();
		// geocoder.geocode({'address': ""}, function(results, status) {
		// 	if (status === google.maps.GeocoderStatus.OK) {
		// 		// var image = 'https://i.imgsafe.org/0e650f6.jpg';
		// 		var marker = new google.maps.Marker({
		// 			position: results[0].geometry.location,
		// 			map:map
		// 			// icon: image
		// 		});
		// 	} else {
		// 		alert('Geocode was not successful for the following reason: ' + status);
		// 	}
		// });
		
        directionsDisplay.setMap(map);
		 directionsService.route({
          origin: billDetails.pickupLocation.city,
          destination: billDetails.dropoffLocation.city,
          travelMode: google.maps.TravelMode.DRIVING
        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
    }
	$scope.charts = function(graphType){
		
		$scope.generic();
		$scope.charts_show = true;
		$scope.chats1_show = true;
			
			var revenuePerLocation = [];
			$http({
				method:'get',
				url:'/v1/revenueperlocation'
			}).then(function(res){
				revenuePerLocation = res.data.revenuePerLocation;
				chartDetails = {"caption":"Total Revenue Per Location","xAxisName":"State","yAxisName":"Revenue","data":revenuePerLocation};
				$scope.createChart("revenuePerLocation", chartDetails);
			}).then(function(){
				$http({
				method:'get',
				url:'/v1/tripsperlocation'
			}).then(function(res){
				data = res.data.tripsPerLocation;
				chartDetails = {"caption":"Total trips per pickup location","xAxisName":"State","yAxisName":"Number of Trips","data":data};
				$scope.createChart("tripsPerLocation", chartDetails);
			}).then(function(){
				$http({
				method:'get',
				url:'/v1/ridesperarea'
			}).then(function(res){
				data = res.data.ridesPerArea;
				chartDetails = {"caption":"Total Rides per drop off location","xAxisName":"State","yAxisName":"Number of Trips","data":data};
				$scope.createChart("ridesPerArea", chartDetails);
			}).then(function(){
				$http({
				method:'get',
				url:'/v1/ridesperdriver'
			}).then(function(res){
				data = res.data.ridesPerDriver;
				chartDetails = {"caption":"Top 20 Riders","xAxisName":"Driver ID","yAxisName":"Number of Trips","data":data};
				$scope.createChart("ridesPerDriver", chartDetails);
			})
			})
			})})
		
			// var data = [];
			$scope.createMapChart();
			// $scope.chart = {"1":"1"};	
	}
		


	$scope.createChart = function(type, details){
		 FusionCharts.ready(function(){
			  var revenueChart = new FusionCharts({
			      "type": "line",
			      "renderAt": type,
			      "width": "500",
			      "height": "400",
			      "dataFormat": "json",
			      "dataSource":  {
			    	   "chart": {
			    	        "caption":  details.caption, 
			    	        "subCaption": "Yearly",
			    	        "xAxisName": details.xAxisName,
			    	        "yAxisName": details.yAxisName,
			    	        "lineThickness": "2",
			    	        "paletteColors": "#0075c2",
			    	        "baseFontColor": "#333333",
			    	        "baseFont": "Helvetica Neue,Arial",
			    	        "captionFontSize": "14",
			    	        "subcaptionFontSize": "14",
			    	        "subcaptionFontBold": "0",
			    	        "showBorder": "0",
			    	        "bgColor": "#ffffff",
			    	        "showShadow": "0",
			    	        "canvasBgColor": "#ffffff",
			    	        "canvasBorderAlpha": "0",
			    	        "divlineAlpha": "100",
			    	        "divlineColor": "#999999",
			    	        "divlineThickness": "1",
			    	        "divLineDashed": "1",
			    	        "divLineDashLen": "1",
			    	        "divLineGapLen": "1",
			    	        "showXAxisLine": "1",
			    	        "xAxisLineThickness": "1",
			    	        "xAxisLineColor": "#999999",
			    	        "showAlternateHGridColor": "0"
			    	    },
			    	    "data":details.data 
			    	   }
			});
			revenueChart.render();
			}) 
	} 



	$scope.createMapChart = function(){
		FusionCharts.ready(function () {
		    var wrCoverage = new FusionCharts({
		        type: 'maps/usa',
		        renderAt: 'chartContainer',
		        width: '1500',
		        height: '600',
		        dataFormat: 'json',
		        dataSource: {
		            "chart": {
		                "theme": "fint",                
		                "caption": "Most frequent trips",
		                "subcaption": "",                
		                "showMarkerLabels":"0",
		                "numberSuffix": "%",
		                //Changing connector hover color
		                "connectorHoverColor": "#f8bd19",
		                //Changing connector hover thickness
		                "connectorHoverThickness": "3",
		                //Enabling entity hover effect
		                //Enabling marker hover effect
		                "showMarkerHoverEffect": "1",
		                //Changing marker fill color on hover
		                "markerFillHoverColor": "#cccccc",
		                "showLabels": "1"
		            },
		            "markers": {
		                "shapes": [
		                    {
		                        "id": "myCustomShape",
		                        "type": "circle",
		                        "fillcolor": "#f8bd19",
		                        "showborder": "0",
		                    }
		                ],
		                "items": [
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WA",
		                        "x": "54.5",
		                        "y": "44.8",
		                        "label": "Washington",
		                        "radius" : "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "OR",
		                        "x": "58.3",
		                        "y": "101.7",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "ID",
		                        "x": "132.8",
		                        "y": "110.7",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MT",
		                        "x": "188.8",
		                        "y": "45.1",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WY",
		                        "x": "220",
		                        "y": "121",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "AZ",
		                        "x": "165",
		                        "y": "261",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "UT",
		                        "x": "170",
		                        "y": "178",
		                        "radius": "1"
		                        
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NV",
		                        "x": "101",
		                        "y": "193",
		                        "radius": "1"
		                    },                    
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "LA",
		                        "x": "406",
		                        "y": "300",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "OK",
		                        "x": "347",
		                        "y": "245",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NM",
		                        "x": "238",
		                        "y": "263",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "CO",
		                        "x": "246.72",
		                        "y": "179.01",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "KS",
		                        "x": "335",
		                        "y": "195",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MO",
		                        "x": "408",
		                        "y": "197",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "AR",
		                        "x": "413",
		                        "y": "253",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MS",
		                        "x": "442",
		                        "y": "277",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NE",
		                        "x": "318",
		                        "y": "146",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "SD",
		                        "x": "311",
		                        "y": "99",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "ND",
		                        "x": "310",
		                        "y": "42",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MN",
		                        "x": "382",
		                        "y": "61",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WI",
		                        "x": "439",
		                        "y": "91",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "IA",
		                        "x": "396",
		                        "y": "139",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "IL",
		                        "x": "445",
		                        "y": "174",
		                        "radius": "1"
		                    },                    
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MI",
		                        "x": "502",
		                        "y": "114",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "IN",
		                        "x": "483",
		                        "y": "174",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "OH",
		                        "x": "530",
		                        "y": "168",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "KY",
		                        "x": "501",
		                        "y": "210",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "WV",
		                        "x": "544",
		                        "y": "199",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "PA",
		                        "x": "593",
		                        "y": "155",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "VA",
		                        "x": "580",
		                        "y": "210",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NY",
		                        "x": "620",
		                        "y": "120",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "VT",
		                        "x": "654",
		                        "y": "95",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "ME",
		                        "x": "700",
		                        "y": "82",
		                        "radius": "1",
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NH",
		                        "x": "666",
		                        "y": "114",
		                        "radius": "1"
		                        
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "MA",
		                        "x": "655",
		                        "y": "132",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "CT",
		                        "x": "654",
		                        "y": "146",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "TN",
		                        "x": "490",
		                        "y": "237",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "GA",
		                        "x": "522",
		                        "y": "283",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "AL",
		                        "x": "489",
		                        "y": "279",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "FL",
		                        "x": "539",
		                        "y": "350",
		                        "radius": "1"
		                    },
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "TX",
		                        "x": "333",
		                        "y": "304",
		                        "label": "Texas",
		                        "value": "75",
		                        "tooltext": "Capacity utilization:$value% {br}Packages shipped/day : 253240 Units(avg) {br}Packages received/day: 253400 Units(avg){br}Daily operational cost: $4000(avg)"
		                    },                    
		                    {
		                        "shapeid": "myCustomShape",
		                        "id": "NC",
		                        "x": "576",
		                        "y": "240",
		                        "label": "North Carolina",
		                        "value": "65",
		                        "tooltext": "Capacity utilization: $value%{br}Packages shipped/day : 311120 Units(avg){br}Packages received/day: 311320 Units(avg){br}Daily operational cost: $2000(avg)"
		                    },
		                     {
		                        "shapeid": "myCustomShape",
		                        "id": "CA",
		                        "x": "65.57",
		                        "y": "227.21",
		                        "label": "California",
		                        //Adding value to marker and making it data enabled
		                        "value": "80",
		                        "tooltext": "Capacity utilization: $value%{br}Packages shipped/day : 126140 Units(avg) {br}Packages received/day: 129500 Units(avg){br}Daily operational cost: $6000(avg)"
		                    },
		                ],
		                "connectors": [
		                    {
		                        "from": "CA",
		                        "to": "WA",
		                        "label": "20540",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.2"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "ID",
		                        "label": "17400",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.1"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "MT",
		                        "label": "15600",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.3"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "WY",
		                        "label": "18400",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "NV",
		                        "label": "19300",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "UT",
		                        "label": "16500",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.5"
		                    },
		                    {
		                        "from": "CA",
		                        "to": "AZ",
		                        "label": "18400",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.5"
		                    },                    
		                    {
		                        "from": "TX",
		                        "to": "NM",
		                        "label": "21300",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "LA",
		                        "label": "15440",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "OK",
		                        "label": "16800",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    
		                    {
		                        "from": "TX",
		                        "to": "CO",
		                        "label": "17200",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.1"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "KS",
		                        "label": "13670",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.5"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "MO",
		                        "label": "12560",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.3"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "AR",
		                        "label": "19200",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "MS",
		                        "label": "18760",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.6"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "NE",
		                        "label": "16870",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "SD",
		                        "label": "17300",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "ND",
		                        "label": "19900",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "MN",
		                        "label": "16100",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "WI",
		                        "label": "14890",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "IA",
		                        "label": "15600",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: 1.3"
		                    },
		                    {
		                        "from": "TX",
		                        "to": "IL",
		                        "label": "17650",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },                    
		                    {
		                        "from": "NC",
		                        "to": "IN",
		                        "label": "14700",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "MI",
		                        "label": "18200",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "OH",
		                        "label": "16540",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "KY",
		                        "label": "15850",
		                    "tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "WV",
		                        "label": "16430",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "PA",
		                        "label": "15600",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "VT",
		                        "label": "18400",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "NH",
		                        "label": "16900",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "MA",
		                        "label": "16590",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.2"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "CT",
		                        "label": "18340",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "ME",
		                        "label": "14680",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.7"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "NY",
		                        "label": "23600",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "TN",
		                        "label": "19800",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.6"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "AL",
		                        "label": "13400",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.4"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "VA",
		                        "label": "17260",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.2"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "GA",
		                        "label": "17400",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.3"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "SC",
		                        "label": "16230",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $0.2"
		                    },
		                    {
		                        "from": "NC",
		                        "to": "FL",
		                        "label": "21200",
								"tooltext": "<b>Shipping Details:</b>{br}Daily shipment: $label Units{br}Average shipping cost: $1.6"
		                    }
		                ]
		            }                          
		        }
		    }).render();
		});
	}

	$scope.signOut = function(){
		$scope.generic()
		$http({
			method:'get',
			url:'/signout'
		}).then(function(res){
			console.log(res)
			$window.location.href="/"
			// $window.location.href = '/admin';
		});
	}


});




</script>

</head>
<body ng-app="adminPage" ng-controller="adminPage">
 <!--    <div style="width:100%;">
	<p><a ng-click="home();"><img src="" style="margin-left:1%;margin-top: 0.5%;margin-bottom: 0.5%;"alt="Social Delivery Service" /></a>
            <a class="cur" ng-click="logout();" style='float: right;margin-right: 3%;margin-top: 1%;color: whitesmoke;'>SignOut</a>
        </p>
    </div> -->
  <div class="wrap" style="width:95%" ng-init="getHomeStats()">
      
	<!-- <div class="header">
		<div class="header_bottom">
		 	<div class="menu">
		 		<ul>
			    	<li><a class="cur" ng-click="getCustomers()">Customer List</a></li>
					<li><a class="cur" ng-click="showBills()">Completed Trips</a></li>
					<li><a class="cur" ng-click="showOpenShipperRequests()">Open Shipper Requests</a></li>
					<li><a class="cur" ng-click="showOpenTransporterRequests()">Open Transporter Requests</a></li>
					<li><a class="cur" ng-click="chartsShow();">Statics</a></li>
				</ul>
		 	</div>
		     
		</div>	     
   </div> -->

   <!-- navigation -->
  	<div class="w3-top">
	  	<div class="w3-bar w3-black w3-card-2">
		    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large" ng-click="getHomeStats()">Home</a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small" ng-click="getCustomers()">Customers</a>
		    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small" ng-click="showBills()">Successfull Trips</a>
		    <div class="w3-dropdown-hover w3-hide-small">
		      	<button class="w3-padding-large w3-button" title="More">Pending Requests <i class="fa fa-caret-down"></i></button>     
		      	<div class="w3-dropdown-content w3-bar-block w3-card-4">
			        <a href="#" class="w3-bar-item w3-button" ng-click="showOpenShipperRequests()">Shipping Requests</a>
			        <a href="#" class="w3-bar-item w3-button" ng-click="showOpenTransporterRequests()">Transport Requests</a>
		      	</div>
		    </div>
		    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right" ng-click="signOut()">Sign Out</a>
	  	</div>
	</div>

<!-- end navigation -->


<!-- cards -->

            <div class="row cards" ng-show="showHome">
              
              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-redbrown hover">
                  <div class="front"> 

                    <div class="media">        
                      <span class="pull-left">
                        <i class="fa fa-users media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>New Users</small>
                        <h2 class="media-heading animate-number" data-value="3659" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="83" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="83%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-blue hover">
                  <div class="front">        
                    
                    <div class="media">                  
                      <span class="pull-left">
                        <i class="fa fa-shopping-cart media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>New Orders</small>
                        <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="100%"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>



              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-greensea hover">
                  <div class="front">        
                    
                    <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-usd media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Sales</small>
                        <h2 class="media-heading animate-number" data-value="169541" data-animation-duration="1500">0</h2>
                      </div>
                    </div>

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="42" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="42%"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-slategray hover">
                  <div class="front"> 

                    <div class="media">                   
                      <span class="pull-left">
                        <i class="fa fa-eye media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Visits</small>
                        <h2 class="media-heading animate-number" data-value="9634" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="25" data-animation-duration="1500">0</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="25%"></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


            </div>


<!-- end cards -->

 <div class="main">
    <div class="content" style="width:92%; margin: 0 auto;">
    	
 		<div ng-show="customerList">
	    	<div class="content_top">
	    		<div class="heading">
	                    <h3>Customer List </h3>
	    		</div>
	    		<input type="text" class="textbox-control" placeholder="search customer" ng-model="searchCustomer.firstName"/>
	    	</div>
    	
    	
     	<!-- <div class="content_top content_top1" ng-repeat = "data in customers | filter:searchCustomer">
     	
    		<div class="heading content_name">
                <h3>{{data.firstName}} {{data.lastName}}</h3>
    		</div>
    		<div align="center" class="content_email">
    			<h3>{{data.emailID}}</h3>
    		</div>
    		<div align="right" class="content_add_delete">
			<div align="center">
    			<a class="button btn1 cur" ng-click="showCustomerProfile(data)">View Profile</a>
    				<a class="button btn2 cur" ng-click="deleteCustomer(names.cKey);">Delete</a>
    		</div>
			</div>
    		
    		<div class="clear"></div>
    	</div>  -->

    	<div class="task-list__content" ng-repeat = "data in customers | filter:searchCustomer">
          <div class="js-result-item-main" data-task-id="77762">
          <div class="task-list__inner">
            <div class="task-list__info">
              <h2 class="h5 task-list__title">
                <a title="Chair" href="/tasks/77762">{{data.firstName}} {{data.lastName}}</a>
              </h2>

           	<span class="task-locations">
	            <span class="task-location">
                {{data.emailID}}
              </span>
	        </span>
            </div><!-- task-list__info -->

            <div class="task-list__side-options">
              <a class="task-list__price" title="See more" href="/tasks/77762">
                      
        <span class="task-price__number  js-task-price ">
      		<a class="button btn1 cur" ng-click="showCustomerProfile(data)">View Profile</a>
      	</span>

</a>            </div><!-- task-list_side-options -->
          </div><!-- task-list__inner -->
          </div>
        </div><!-- task content -->


		</div>
    	

  		<div ng-show="Bills">
    		<div class="content_top">
	    		<div class="heading">
	                    <h3>Bills</h3>
	    		</div>
	    		<input type="text" class="textbox-control" placeholder="search bill" ng-model="searchCustomer.transporter.id"/>
    		</div>
   

		<div class="task-list__content" ng-repeat = "data in billList | filter:searchCustomer">
          <div class="js-result-item-main" data-task-id="77762">
          <div class="task-list__inner">
            <div class="task-list__info">
              <h2 class="h5 task-list__title">
                <a title="Chair" href="/tasks/77762">Bill ID : {{data.transporter.id}}{{data.shipper.id}}</a>
              </h2>

           	<span class="task-locations">
	            <span class="task-location">
                {{data.shipper.name}}
              </span><b class="task-to-icon icon-font">
              →
              </b><span class="task-location">
               {{data.transporter.name}}
              </span>
	        </span>
            </div><!-- task-list__info -->

            <div class="task-list__side-options">
              <a class="task-list__price" title="See more" href="/tasks/77762">
                      
        <span class="task-price__number  js-task-price ">
      		<a class="button btn1 cur" ng-click="openBillDetails(data)">View Bill</a>
      	</span>

</a>            </div><!-- task-list_side-options -->
          </div><!-- task-list__inner -->
          </div>
        </div><!-- task content -->
    	</div> 
    
    	
	<div ng-show="customerProfileShow">
	<div class="main">
		<div class="content">
		<section class="section  profile-header-wrapper  expand">
		  <div class="content">
		    <div class="profile-header">
		      <a href="https://d1xqbpwl1wh09p.cloudfront.net/avatars/default/default.png" class="avatar  my-avatar  obj-label-over  profile__avatar  eb-profile-avatar" rel="lightbox">
		        <img id="user_avatar" alt="Savan Thakker" src="https://d1xqbpwl1wh09p.cloudfront.net/avatars/default/default_130x130@2x.png" />
		      </a><!-- end of profile avatar -->
		      
		      <h1 class="profile__title">
		          {{customerDetails.firstName}} {{customerDetails.lastName}}
		      </h1>
		    </div><!-- profile-header -->
		  </div>
		</section>
		<section class="section  profile__stats  expand">
		  <div class="content cf">
		    <div class="profile__stats-item">

		        <span class="profile__stats-number">{{customerFeedback.length}}</span>
		        <span class="profile__stats-reviews">Deliveries completed</span>

		    </div>
		    <div class="profile__stats-item">
		      <span class="profile__stats-reviews">
		        Joined {{customerDetails.dateJoined}}
		      </span><!-- profile__stats-reviews -->
		    </div><!-- profile__stats -->
		  </div>
		</section>

		<section class="section  profile__content">
  <div class="content  cf">
		
	    	
  	<div class="user-verifications">
  <h2 class="profile-content__title  user-verifications__title">
    Verified information
  </h2>
  
  <section class="obj-task-info  verifications-list">
  <div class="data-list">
    <div class="data-list__item--clean">
      <div class="data-list__actions--left data-list__action--empty">
          <span class="obj-task-info__item-icon obj-task-info__item-icon--bank_account verified"></span>
      </div>
      <div class="data-list__info data-list__info--center">
            <h6 class="data-list__info__title">Verified user</h6>
            <span class="light-text-small">
               <span>{{customerDetails.firstName}} has provided identification and it’s verified by the Nimber team.</span>
            </span>
        </div>
      </div>
    </div>

  <dl class="obj-task-info__item obj-task-info__item--first">
    <dt class="obj-task-info__item-title  cf">
    	
    	<span class="obj-task-info__item-title-text">Mobile number verified</span>
    </dt>
    <dd class="obj-task-info__item-content">
      <span class="obj-task-info__content-text  js-reload-page" rel="tooltip" title="">
		    	<span class="icon-font  details-icon  details-icon--yes" data-yes="✓" data-no="−">✓</span>
      </span>
    </dd>
  </dl><!-- obj-task-info__item -->


  <dl class="obj-task-info__item">
    <dt class="obj-task-info__item-title  cf">
    	<span class="obj-task-info__item-title-text">Facebook connected</span>
    </dt>
    <dd class="obj-task-info__item-content">
      <span class="obj-task-info__content-text" rel="tooltip" title="">
	        <span class="icon-font  details-icon  details-icon--yes" data-yes="✓" data-no="−">✓</span>
      </span>
    </dd>
  </dl><!-- obj-task-info__item -->

  <dl class="obj-task-info__item">
    <dt class="obj-task-info__item-title  cf">
    	
    	<span class="obj-task-info__item-title-text">Credit card connected</span>
    </dt>
    <dd class="obj-task-info__item-content">
      <span class="obj-task-info__content-text" rel="tooltip" title="">
	        <span class="icon-font  details-icon  details-icon--yes" data-yes="✓" data-no="−">✓</span>
      </span>
    </dd>
  </dl><!-- obj-task-info__item -->

  <dl class="obj-task-info__item  obj-task-info__item--last">
    <dt class="obj-task-info__item-title  cf">
    	
    	<span class="obj-task-info__item-title-text">E-mail verified</span>
    </dt>
    <dd class="obj-task-info__item-content">
      <span class="obj-task-info__content-text">
        <span class="icon-font  details-icon  details-icon--yes" data-yes="✓" data-no="−">✓</span>
      </span>
    </dd>
  </dl><!-- obj-task-info__item -->
</section>



</div><!-- user-verifications -->

	  	<div class="user-reviews">
  <h2 class="profile-content__title">
      Reviews for {{customerDetails.firstName}}
  </h2>
    <div class="user-reviews__breakdown">
      <div class="user-reviews__total">
        
<span class="user-rating user-rating--5 user-rating--big      " >
   {{customerFeedback.length}}
  <span class="user-rating__icon">*</span>
</span>

          <b class="user-reviews__total-title">
           
            Reviews
          </b>
          
      </div><!-- user-reviews__breakdown-total -->
    </div><!-- user-reviews__breakdown -->

  <ol class="unstyled" data-append-to="reviews-list">
    
  <li class="user-review  cf">
 <div class="user-review__content" ng-repeat="data in customerFeedback">    
	<span class="user-rating user-rating--5" >
	  {{data.rating}}
	  <span class="user-rating__icon">*</span>
</span>
      <article class="user-review__text">
          {{data.text}}
      </article>
      <div class="user-review__footer cf">
          <a href="" class="user-review__figure">
            <img id="user_avatar" alt="Manuel Rueda" src="https://d1xqbpwl1wh09p.cloudfront.net/avatars/default/default_40x40@2x.png" />
          </a><!-- end of profile avatar -->
        <div class="user-review__footer-content">
          <h3 class="user-review__title">
              <a href="">
               {{data.name}}<br/><br/>
              </a>
          </h3>
        </div><!-- user-review__footer-content -->
        <a href="/users/74441/reviews/18547" class="user-review__date">{{data.timestamp}}</a>
      </div><!-- user-review__foter -->
      <br/>
      <br/>
    </div><!-- user-review__content -->
  </li><!-- user-review -->
      <!-- user-review -->
  </ol>

      <div data-load="Loading...">
        <div class="load-more-wrapper">
        
        </div><!-- load-more-wrapper -->
      </div>
</div><!-- user-reviews -->


  </div>
</section>
			<div class="section group">
				<div class="cont-desc span_1_of_2">
					<div class="product-details">
		<!-- 				<div class="grid images_3_of_2">
							<div id="container">
								<div id="products_example">
									<div id="products">
										<div class="slides_container"
											style="overflow: hidden; position: relative; display: block; width: 320px; height: 276px;">
											<img src="https://abs.twimg.com/a/1456787276/img/t1/highline/empty_state/owner_empty_avatar.png"
												style="max-height: 275px; min-height: 320px;" />
										</div>
									</div>
								</div>
							</div>
						</div> -->

		<!-- 				<div class="desc span_3_of_2" align="left">

							<table class="table_fdesc" width="93%" border="0" cellspacing="10" cellpadding="10">

							  <tbody>
								
								<tr>
								  <td>ID: </td>
								  <td class="td2_content">{{customerDetails.userID}}</td>
								</tr>
								
								<tr>
								  <td>Email: </td>
								  <td class="td2_content">{{customerDetails.emailID}}</td>
								</tr>
								
								<tr>
								  <td>Phone Number: </td>
								  <td class="td2_content">{{customerDetails.cell}}</td>
								</tr>
								
								<tr>
								  <td>Address: </td>
								  <td class="td2_content">{{customerDetails.address[0].street}}</td>
								</tr>
								
								<tr>
								  <td>City: </td>
								  <td class="td2_content">{{customerDetails.address[0].city}}</td>
								</tr>
								
								<tr>
								  <td>State: </td>
								  <td class="td2_content">{{customerDetails.address[0].state}}</td>
								</tr>
								
								<tr>
								  <td>Zip: </td>
								  <td class="td2_content">{{customerDetails.address[0].zip}}</td>
								</tr>
							  </tbody>
							</table>
							<div class="share-desc" align="left">
								<div class="clear"></div>
							</div>
						</div> -->
					</div>

				</div>
			</div>
		</div>
					</div>
	</div>
	
 
 	 <div ng-show="showBillProfile">
	 	<div class="content_top">
			<div class="heading">
        		<h3 >Trip Information: </h3>
			</div>
		<div>
      <header class="obj-info  obj-info--header  cf">
        <div class="obj-info__left  obj-info__item" style="background-image: url('https://d1xqbpwl1wh09p.cloudfront.net/jobs/default/default-m_150x150@2x.png')">
          <figure id="task-page-image" class="obj-info__figure  js-task-main-image  eb-image">
                <img alt="Chair" id="task-avatar" src="https://d1xqbpwl1wh09p.cloudfront.net/jobs/default/default-m_150x150@2x.png" />
          </figure>


              <!-- Image upload form -->
              <form class='task-image-upload-photo image-upload-form' id='task-image-upload-photo' action='/utils/upload_image' method=''data-url_field="#task-page-image-url"data-id="task-image-upload-modal"data-button_class="hidify"data-path_field="#uploaded_image_key_77762"data-task_id="77762"data-auto_update="true"data-img="js-task-main-image"data-size="130x130"data-error_message="The image couldn't uploaded, please try again or contact us."data-generic_error_message="Your image is too big to upload, please choose a smaller one."> <canvas id='canvas' width='300'></canvas><input type='file' name='file_upload' id='file_upload-task-image-upload-photo'/> </form>
              <input type="hidden" id="task-page-image-url" value="" />
              <form class="non-html5-upload hidify" enctype="multipart/form-data" action="/utils/upload_image" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="HGMvB8V5rodzxj4cHWfCNNC5wKbK7NQrk8N47g54oBR5T3O+dIVM8xfCphCviQxpgHcP1Og53USZOSR1zhBsDg==" />
                  <input type="file" name="image" id="image" />
                  <input type="hidden" name="bucket" id="bucket" value="jobs" />
                  <input type="hidden" name="task_id" id="task_id" value="77762" />
                  <input type="hidden" name="auto_update" id="auto_update" value="true" />
                  <input type="hidden" name="redirect_after" id="redirect_after" value="" class="js-redirect-path" />
                  <input type="hidden" name="redirect_hash" id="redirect_hash" value="" class="js-redirect-hash" />
                  <input type="submit" name="commit" value="Upload" class="hidify" data-disable-with="Upload" />
			</form>        
		</div>

        <div class="obj-info__middle  obj-info__item">
          <h1 class="obj-info__title js-task-page-title">Title: {{billInfo.packageDetails.title}}</h1>
          <span class="obj-info__locations  task-block__locations">
            <span class="js-task-page-location-from">
               {{billInfo.pickupLocation.city}}
            </span><b class="task-to-icon icon-font">
            →
          </b><span class="js-task-page-location-to">
                {{billInfo.dropoffLocation.city}}
            </span>
          </span>
        </div>

        <div class="obj-info__right  obj-info__item">
          <dl class="obj-info__meta">
            <dt class="obj-info__title">
                  Total delivery cost:
            </dt>
            <dd class="obj-info__price">
                      <span class="task-price__currency js-task-currency ">
      $</span><span class="task-price__number  js-task-price js-task-price-live">{{billInfo.packageDetails.price}}</span>

            </dd>
          </dl>

          <div class="obj-info__secondary">
              <ul class="obj-info__list no-bullet">
                  <li><span class="object-info__price-details">
                  Bringer&#39;s reward &minus;
                      <strong class="js-task-breakdown-bringer">    <span class="task-price__currency js-task-currency task-price__currency">
      $</span><span class="task-price__number  js-task-price ">{{shipperReward}}</span>
</strong></span>
                  </li>
                    <li>
                      <span class="object-info__price-details">
                      Insurance and service fee &minus;
                      <strong class="js-task-breakdown-nimber">
                            <span class="task-price__currency js-task-currency task-price__currency">
      $</span><span class="task-price__number  js-task-price ">{{insurance}}</span>

                      </strong></span>
                    </li>
              </ul>
          </div>
        </div>
      </header>
      	</div>
    	<!-- <div ng-show="GoogleMaps_Show" align="center" style="width:100%;height:400px;">
			<div id="map"></div>
		</div> -->
	</div>     
</div>
 

				 <div ng-show="shipperRequests">
					<!-- <div ng-repeat="data in pendingShipperRequests">
						<div class="request_margin">
				        	<h3>{{data.name}} </h3>
				    		<h3>Pickup location: {{data.pickupLocation.zip}}</h3>
				    		<h3>Dropoff location: {{data.dropoffLocation.zip}}</h3>
				    		<h3>Desired Date of Shipping: {{data.desiredDate}}</h3>
						</div>
					</div> -->
					<div class="content_top">
				    	<div class="heading">
				                <h3>Shipping Requests</h3>
				    	</div>
				   <input type="text" class="textbox-control" placeholder="search request" ng-model="searchpendingShipperRequests.name"/>
			    		</div>
					<div class="task-list__content" ng-repeat = "data in pendingShipperRequests | filter:searchpendingShipperRequests">
			          <div class="js-result-item-main" data-task-id="77762">
			          <div class="task-list__inner">
			            <div class="task-list__info">
			              <h2 class="h5 task-list__title">
			              <a title="Chair" href="">Name : {{data.name}}</a><br/>
			              <a title="Chair" href="">Price Requested : ${{data.packageDetails[0].price}}</a><br/>
			                <a title="Chair" href="">Shipping Date : {{data.desiredDate}}</a>
			              </h2>

			           	<span class="task-locations">
				            <span class="task-location">
			                {{data.pickupLocation[0].city}}, {{data.pickupLocation[0].state}}
			              </span><b class="task-to-icon icon-font">
			              →
			              </b><span class="task-location">
			               {{data.dropoffLocation[0].city}}, {{data.dropoffLocation[0].city}}
			              </span>
				        </span>

			            </div><!-- task-list__info -->
			                <div class="task-list__side-options">
				              <a class="task-list__price" title="See more" href="/tasks/77762">
				                      
				        <span class="task-price__number  js-task-price ">
				      		<a class="button btn1 cur" ng-click="openBillDetails(data)">View Request</a>
				      	</span> </a> 
		      	           </div><!-- task-list_side-options -->
			          </div><!-- task-list__inner -->
			          </div>
			        </div><!-- task content -->

				</div>

				<div ng-show="transporterRequests">
					<!-- <div ng-repeat="data in pendingTransporterRequests">
						<div class="request_margin">
				        	<h3>{{data.name}} </h3>
				    		<h3>Pickup location: {{data.sourceAddress.zip}}</h3>
				    		<h3>Dropoff location: {{data.destinationAddress.zip}}</h3>
				    		<h3>Flexible Commute Range: {{data.additionalDesiredCommuteRange}} miles</h3>
				    		<h3>Travel Date: {{data.travelDate}}</h3>
				    		<h3>Vehicle Type: {{data.vehicleType}}</h3>
						</div>
					</div> -->
							<div class="content_top">
				    	<div class="heading">
				                <h3>Transport Requests</h3>
				    	</div>
				   <input type="text" class="textbox-control" placeholder="search request" ng-model="searchpendingTransporterRequests.name"/>
			    		</div>
					<div class="task-list__content" ng-repeat = "data in pendingTransporterRequests | filter:searchpendingTransporterRequests.name">
			          <div class="js-result-item-main" data-task-id="77762">
			          <div class="task-list__inner">
			            <div class="task-list__info">
			              <h2 class="h5 task-list__title">
			              <a title="Chair" href="">Name : {{data.name}}</a><br/>
			              <a title="Chair" href="">Flexible Commute Range : {{data.additionalDesiredCommuteRange}}</a><br/>
			              <a title="Chair" href="">Vehicle Type : {{data.vehicleType}}</a><br/>
			                <a title="Chair" href="">Travel Date : {{data.travelDate}}</a>
			              </h2>

			           	<span class="task-locations">
				            <span class="task-location">
			                {{data.sourceAddress.city}}, {{data.sourceAddress.state}}
			              </span><b class="task-to-icon icon-font">
			              →
			              </b><span class="task-location">
			               {{data.destinationAddress.city}}, {{data.destinationAddress.state}}
			              </span>
				        </span>

			            </div><!-- task-list__info -->
			                <div class="task-list__side-options">
				              <a class="task-list__price" title="See more" href="/tasks/77762">
				                      
				        <span class="task-price__number  js-task-price ">
				      		<a class="button btn1 cur" ng-click="openBillDetails(data)">View Request</a>
				      	</span> </a> 
		      	           </div><!-- task-list_side-options -->
			          </div><!-- task-list__inner -->
			          </div>
			        </div><!-- task content -->
				</div>

	
	<div ng-show="charts_show">
		<!-- <h3 align="center">Total stats by Map</h3><br/> -->
		<div id="chartContainer">
			<div >Data Chat will load here!</div>
		</div>
		<br/>

		<div class="container">
			<div class="row">
			 	<div class="col-sm-6">
			 	<br/>
			 		<!-- <h3>Revenue Per location</h3><br/> -->
					<div id="revenuePerLocation">Data Chat will load here!</div>
				</div>
				<br/>
				<div class="col-sm-6">
					<!-- <h3>Trips Per pickup location</h3><br/> -->
					<div id="tripsPerLocation">Data Chat will load here!</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
				<br/>
					<!-- <h3>Trips per dropoff location</h3><br/> -->
					<div id="ridesPerArea">Data Chat will load here!</div>
				</div>
				<br/>
				<div class="col-sm-6">
					<!-- <h3>Trips Per driver</h3><br/> -->
					<div id="ridesPerDriver">Data Chat will load here!</div>
				</div>
				<br/>
			</div>

		</div>
		 
    </div>
    	
			
    </div>
 </div>
</div>
   <!--  <div class="footer" style="background-image:url(images/strip.png); display: block; clear: both;">
   	  
        <div class="copy_right">
				<p style="margin-top: 0.5%;margin-bottom: 0.5%;">Social Delivery Service </p>
		   </div>
    </div>  -->   
</body>
</html>
