<!DOCTYPE HTML>
<head>
<title>Schmuber</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/default._V1455922598_.css" type="text/css" rel="stylesheet" />    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="shortcut icon"
	href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
	type="image/vnd.microsoft.icon" />
    <!-- jQuery library -->
    <link rel="stylesheet" href="/css/postTrip.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/startstop-slider.js"></script> -->
	<link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/default._V1455922598_.css" type="text/css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
	<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/style1.css">

            </head>
    <body>
        <script>
        var dataLayer = [{"user_id":"250ca36b34e54c12c75489db1b68bbc9"}];
    </script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KKF9GD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KKF9GD');</script>
    <!-- End Google Tag Manager -->
<!-- HEADER -->
<!-- HEADER -->
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #4A566B">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Schmu<span class="logo-dec">ber</span></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/send">Send Packages</a></li>
							<li class="active"><a href="/send">Search</a></li>
							<li class="active"><a href="/profile">My Profile</a></li>
							<li class="active"><a href="/inbox">Inbox</a></li>
							<li class="active"><a href="/">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </nav>
  <br/>
<!-- end header -->
<!-- END HEADER -->

                <div id="main">
            <div class="container">

                <div id="content">
                        <div class="row page-header-wrapper">
        <div class="col-md-2 hidden-sm hidden-xs cms-block">
            <div class="cms-block">

</div>

        </div>
        <div class="col-md-12">
            <h1 class="page-header">Post a trip: main information</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <form action="" method="post" id="travel-form" class="form-horizontal">

                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                                    <div class="form-group"><label class="control-label col-sm-2 required">
            From
        </label><div class="col-sm-10"><input type="text" id="travel_form_type_origin_label" name="travel_form_type[origin][label]" required="required" ggplace-label="ggplace-label" placeholder="City or Country" class="form-control" /><input type="hidden" id="travel_form_type_origin_placeId" name="travel_form_type[origin][placeId]" ggplace-id="ggplace-id" /></div></div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-3">
                            <button type="button" class="btn btn-sm btn-block btn-default" style="margin-bottom: 15px;" data-toggle="collapse" data-target="#more-steps">
                                <i class="fa fa-plus-circle"></i>&nbsp; Add stopovers
                            </button>
                        </div>
                        <div class="col-md-7">
                                <div class="pb-help-message child-steps">
                            <i class="fa fa-info-circle pull-left"></i> <div class="cms-block">
    <p>Tip: stopovers will give you more potential connections!</p>
</div>

            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 collapse" id="more-steps">
                                    <div class="form-group"><label class="control-label col-sm-2">
            Stopover 1
        </label><div class="col-sm-10"><input type="text" id="travel_form_type_step1_label" name="travel_form_type[step1][label]" ggplace-label="ggplace-label" placeholder="City" class="form-control" /><input type="hidden" id="travel_form_type_step1_placeId" name="travel_form_type[step1][placeId]" ggplace-id="ggplace-id" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2">
            Stopover 2
        </label><div class="col-sm-10"><input type="text" id="travel_form_type_step2_label" name="travel_form_type[step2][label]" ggplace-label="ggplace-label" placeholder="City" class="form-control" /><input type="hidden" id="travel_form_type_step2_placeId" name="travel_form_type[step2][placeId]" ggplace-id="ggplace-id" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2">
            Stopover 3
        </label><div class="col-sm-10"><input type="text" id="travel_form_type_step3_label" name="travel_form_type[step3][label]" ggplace-label="ggplace-label" placeholder="City" class="form-control" /><input type="hidden" id="travel_form_type_step3_placeId" name="travel_form_type[step3][placeId]" ggplace-id="ggplace-id" /></div></div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                    <div class="form-group"><label class="control-label col-sm-2 required">
            To
        </label><div class="col-sm-10"><input type="text" id="travel_form_type_arrival_label" name="travel_form_type[arrival][label]" required="required" ggplace-label="ggplace-label" placeholder="City" class="form-control" /><input type="hidden" id="travel_form_type_arrival_placeId" name="travel_form_type[arrival][placeId]" ggplace-id="ggplace-id" /></div></div>

                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-5" id="fixed-travel-fields">
                        <fieldset>
                            <h4 class="section-header">Fixed date trip</h4>
                            <div class="fields-wrapper">
                                <div class="form-group"><label class="control-label col-sm-4 required" for="travel_form_type_arrivalDate">
            Arrival date of your trip
        </label><div class="col-sm-8"><input type="date" id="travel_form_type_arrivalDate" name="travel_form_type[arrivalDate]" required="required" class="form-control" value="2017-05-15" /></div></div>
                                    <div class="pb-help-message child-">
                    </div>

                                <div class="form-group"><label class="control-label col-sm-4" for="travel_form_type_returnDate">
            Arrival date of your optional return trip
        </label><div class="col-sm-8"><input type="date" id="travel_form_type_returnDate" name="travel_form_type[returnDate]" class="form-control" /></div></div>
                                    <div class="pb-help-message child-">
                    </div>

                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-2 col-xs-12" id="or-travel-fields">
                        <h4 class="sub-sub-section-header text-center">OR</h4>
                    </div>
                    <div class="col-sm-5" id="reccurent-travel-fields">
                        <fieldset>
                            <h4 class="section-header">Recurring trip</h4>
                            <div class="fields-wrapper">
                                <div class="form-group"><label class="control-label col-sm-4">
            Recurrence
        </label><div class="col-sm-8"><div id="travel_form_type_recurrence"><div class="radio"><label class=""><input type="radio" id="travel_form_type_recurrence_placeholder" name="travel_form_type[recurrence]" value="" checked="checked" /> Never</label></div><div class="radio"><label class=""><input type="radio" id="travel_form_type_recurrence_0" name="travel_form_type[recurrence]" value="rarely" /> Once in a while</label></div><div class="radio"><label class=""><input type="radio" id="travel_form_type_recurrence_1" name="travel_form_type[recurrence]" value="sometimes" /> Occasionally  (several times per year)</label></div><div class="radio"><label class=""><input type="radio" id="travel_form_type_recurrence_2" name="travel_form_type[recurrence]" value="often" /> Often (several times per month)</label></div><div class="radio"><label class=""><input type="radio" id="travel_form_type_recurrence_3" name="travel_form_type[recurrence]" value="regularly" /> Regularly (several times per week)</label></div></div></div></div>
                                    <div class="pb-help-message child-">
                            <i class="fa fa-info-circle pull-left"></i> <div class="cms-block">
    <p>A recurring journey will be automatically considered as a round trip</p>
</div>

            </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                                    <div class="form-group"><label class="control-label col-sm-2 required" for="travel_form_type_size">
            Size you may transport
        </label><div class="col-sm-10"><select id="travel_form_type_size" name="travel_form_type[size]" placeholder="travel_form.placeholder.size" class="form-control"><option value="s">Small</option><option value="m">Medium</option><option value="l">Large</option><option value="xl" selected="selected">Extra large</option></select></div></div>
                <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pb-help-message child-size">
                    <i class="fa fa-info-circle pull-left"></i>
                    <div class="cms-block">
    <p>Small = keys / Medium = phone, book, bag / Large = big box, instrument / Extra large = vehicle, pallet</p>
</div>

                </div>
            </div>
        </div>

                        </fieldset>
                    </div>
                </div>
                <div class="row collapse" id="more-details">
                    <div class="col-md-12">
                        <fieldset>
                                    <div class="form-group"><label class="control-label col-sm-2" for="travel_form_type_reward">
            Reward
        </label><div class="col-sm-10"><input type="text" id="travel_form_type_reward" name="travel_form_type[reward]" placeholder="A ride from the airport, a drink,..." class="form-control" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="travel_form_type_tip">
            Tip
        </label><div class="col-sm-10"><input type="text" id="travel_form_type_tip" name="travel_form_type[tip]" placeholder="Amount and currency" class="form-control" /></div></div>
                <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pb-help-message child-tip">
                    <i class="fa fa-info-circle pull-left"></i>
                    <div class="cms-block">
    <p>Indicate the minimum tip you would like to get -&nbsp;leave blank to discuss with the requester.</p>
</div>

                </div>
            </div>
        </div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="travel_form_type_infos">
            Practical details
        </label><div class="col-sm-10"><textarea id="travel_form_type_infos" name="travel_form_type[infos]" placeholder="" class="form-control"></textarea></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="travel_form_type_history">
            Story (or reason) of your trip
        </label><div class="col-sm-10"><textarea id="travel_form_type_history" name="travel_form_type[history]" placeholder="" class="form-control"></textarea></div></div>

                            <input type="hidden" id="travel_form_type__token" name="travel_form_type[_token]" value="naDV6sv-jsvTTDkYLCQHkf-FpXgUbuGTljb_6zNftII" />
                        </fieldset>
                    </div>
                </div>
                <button type="button" class="btn btn-info pull-left" data-toggle="collapse" data-target="#more-details">Add details</button>
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check"></i> Post your trip</button>
            </form>

        </div>
    </div>
                </div>
            </div>
        </div>
                </body>
</html>
