<!DOCTYPE HTML>
<head>
<title>Amazon Fresh | Home </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/default._V1455922598_.css" type="text/css" rel="stylesheet" />    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="shortcut icon"
	href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
	type="image/vnd.microsoft.icon" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" media="all" href="/css/admin1.css" />
    <link rel="stylesheet" media="all" href="/css/admin2.css" />
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
  <link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/css/style1.css">

  <script>

  var app = angular.module("schmuber", []);
  app.controller("send_package", function($scope,$http,$window,$location) {
    $scope.send_form=true;
    $scope.send_confirmation = false;

    $scope.postSendDetails = function(){
      $scope.send_form = false;
      $scope.send_confirmation = true;
      $http({
        method:'get',
        url:'/v1/getdeliverydetails'
      }).then(function(res){
      });
    }

});

</script>
            </head>
    <body ng-app="schmuber" ng-controller="send_package">


<!-- HEADER -->
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #4A566B">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Schmu<span class="logo-dec">ber</span></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/search">Post a Trip</a></li>
              <li class="active"><a href="/profile">My Profile</a></li>
              <li class="active"><a href="/">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </nav>
  <br/><br/><br/><br/><br/>
<!-- end header -->
      <div ng-show="send_form">
                <div id="main">
            <div class="container">

                <div id="content">
                        <div class="row page-header-wrapper">
        <div class="col-md-2 hidden-sm hidden-xs cms-block">
            <div class="cms-block">

</div>

        </div>
        <div class="col-md-10">
            <h1 class="page-header">Shipping request</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">

                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                                    <div class="form-group"><label class="control-label col-sm-2">
            Item to be transported
        </label><div class="col-sm-10"><input type="text" id="package_form_type_label" name="package_form_type[label]" placeholder="Package, bag, phone, food,..." class="form-control" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2">
            From
        </label><div class="col-sm-10"><input type="text" id="package_form_type_origin_label" name="package_form_type[origin][label]"  ggplace-label="ggplace-label" placeholder="City or Country" class="form-control" /><input type="hidden" id="package_form_type_origin_placeId" name="package_form_type[origin][placeId]" ggplace-id="ggplace-id" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2">
            To
        </label><div class="col-sm-10"><input type="text" id="package_form_type_arrival_label" name="package_form_type[arrival][label]" ggplace-label="ggplace-label" placeholder="City or Country" class="form-control" /><input type="hidden" id="package_form_type_arrival_placeId" name="package_form_type[arrival][placeId]" ggplace-id="ggplace-id" /></div></div>

                        </fieldset>
                        <fieldset>
                                    <div class="form-group"><label class="control-label col-sm-2 ">
            What type of item
        </label><div class="col-sm-10"><select id="package_form_type_type" name="package_form_type[type]" placeholder="package_form.placeholder.type" class="form-control"><option value="bought">Item to be bought</option><option value="personal">Personal item</option></select></div></div>
                <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pb-help-message child-type">
                    <i class="fa fa-info-circle pull-left"></i>
                    <div class="cms-block">
    <p>Item to be bought (Specific smartphone, local food, to be purchased online,...)&nbsp;OR personal item (A&nbsp;bag, piece of clothing, vehicle,...)</p>
</div>

                </div>
            </div>
        </div>

                                    <div class="form-group"><label class="control-label col-sm-2">
            Item size
        </label><div class="col-sm-10"><select id="package_form_type_size" name="package_form_type[size]" placeholder="package_form.placeholder.size" class="form-control"><option value="s">Small</option><option value="m">Medium</option><option value="l">Large</option><option value="xl">Extra large</option></select></div></div>
                <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pb-help-message child-size">
                    <i class="fa fa-info-circle pull-left"></i>
                    <div class="cms-block">
    <p>Small = keys / Medium = phone, book, bag / Large = big box, instrument / Extra large = vehicle, pallet</p>
</div>

                </div>
            </div>
        </div>

                        </fieldset>
                    </div>
                </div>
                <div class="row collapse" id="more-details">
                    <div class="col-md-12">
                        <fieldset>
                                    <div class="form-group"><label class="control-label col-sm-2" >
            Reward
        </label><div class="col-sm-10"><input type="text" id="package_form_type_reward" name="package_form_type[reward]" placeholder="A ride from the airport, a drink,..." class="form-control" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="package_form_type_tip">
            Tip
        </label><div class="col-sm-10"><input type="text" id="package_form_type_tip" name="package_form_type[tip]" placeholder="Amount and currency" class="form-control" /></div></div>
                <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pb-help-message child-tip">
                    <i class="fa fa-info-circle pull-left"></i>
                    <div class="cms-block">
    <p><a href="/upload/picto/rates.jpg" target="_blank"><font color="#fcc014">See our indicative rates</font></a>&nbsp;or leave blank if you want to discuss with the carrier.</p>
</div>

                </div>
            </div>
        </div>

                        </fieldset>
                        <fieldset>
                                    <div class="form-group"><label class="control-label col-sm-2" for="package_form_type_pictureFile">
            Picture
        </label><div class="col-sm-10"><input type="file" id="package_form_type_pictureFile" name="package_form_type[pictureFile]" placeholder="package_form.placeholder.pictureFile" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="package_form_type_description">
            Description
        </label><div class="col-sm-10"><textarea id="package_form_type_description" name="package_form_type[description]" placeholder="" class="form-control"></textarea></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="package_form_type_infos">
            Practical information
        </label><div class="col-sm-10"><textarea id="package_form_type_infos" name="package_form_type[infos]" placeholder="" class="form-control"></textarea></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="package_form_type_history">
            Item story
        </label><div class="col-sm-10"><textarea id="package_form_type_history" name="package_form_type[history]" placeholder="" class="form-control"></textarea></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="package_form_type_url">
            URL
        </label><div class="col-sm-10"><input type="url" id="package_form_type_url" name="package_form_type[url]" placeholder="" class="form-control" /></div></div>

                                    <div class="form-group"><label class="control-label col-sm-2" for="package_form_type_value">
            Item value
        </label><div class="col-sm-10"><input type="text" id="package_form_type_value" name="package_form_type[value]" placeholder="Amount and currency" class="form-control" /></div></div>

                            <input type="hidden" id="package_form_type__token" name="package_form_type[_token]" value="5xtXq9yt21rp0K185y-YsuL9O28ObjSwO3rqCkuHueo" />
                        </fieldset>
                    </div>
                </div>
                <button type="button" class="btn btn-info pull-left" data-toggle="collapse" data-target="#more-details">Add details</button>
                <button class="btn btn-primary pull-right" ng-click="postSendDetails()"><i class="fa fa-check"></i> Post your request</button>
            </form>

        </div>
    </div>
                </div>
            </div>
        </div>
      </div>

<!-- CONFIRMATION DIV -->
<div ng-show="send_confirmation">
          <section class="section section--tight">
            <div class="content  checkout-page text-center">

              <header class="checkout-page__header">
                <h1 class="checkout-page__title">Your task has been posted!</h1>
                <p class="checkout-page__subtitle">We have already sent your task out to relevant bringers, and those interested will get back to you with questions or a date they can help you out.</p>
              </header>

              <section class="checkout-page__container">
                <div class="[ checkout-page__content cf ]">
                    <div class="[ checkout-page__task-info cf ]  [ js-checkout-page-task-info ]" data-url="/tasks/78568">
                      <figure class="task-page__image  task-page__image--checkout">
                        <img alt="Chair" title="Chair" id="task-avatar" src="https://d1xqbpwl1wh09p.cloudfront.net/jobs/default/default-xs_130x130@2x.png" />
                      </figure>
                      <div class="checkout-page-headline__content">
                        <h1 class="headline__title headline__title--small h1">Chair</h1>
                        <span class="task-block__locations">
                          33-99 Bush St, San Jose, CA 95126, USA<b class="task-to-icon icon-font">
                          →
                          </b>33-99 Bush St, San Jose, CA 95126, USA
                        </span>
                      </div><!-- checkout-page-headline__content -->
                    </div>

                    <div class="checkout-page__breakdown">
                      <ul class="[ checkout-page__prices hidify ]  [ js-checkout-prices ]">
                           <li class="order-list__item  ">
               <span class="pull-right offer-module__loader js-task-breakdown-loader hidify"></span>
            <dl class="order-list__header">
              <dt class="order-list__title  ">
                Bringer&#39;s reward
              </dt>
              <dd class="order-list__price  ">
                        <span class="task-price__currency js-task-currency ">
                $</span><span class="task-price__number  js-task-price ">20</span>

              </dd>
            </dl>
          </li>
                           <li class="order-list__item  ">
               <span class="pull-right offer-module__loader js-task-breakdown-loader hidify"></span>
            <dl class="order-list__header">
              <dt class="order-list__title  ">
                Insurance and service
              </dt>
              <dd class="order-list__price  ">
                        <span class="task-price__currency js-task-currency ">
                $</span><span class="task-price__number  js-task-price ">4</span>

              </dd>
            </dl>
          </li>

                             <li class="order-list__item  hidify  js-order-list-item-coupon">
               <span class="pull-right offer-module__loader js-task-breakdown-loader hidify"></span>
            <dl class="order-list__header">
              <dt class="order-list__title  js-order-list-item-title">
                Coupon discount:
              </dt>
              <dd class="order-list__price  js-order-list-item-price">
                        <span class="task-price__number  js-task-price ">
                </span><span class="task-price__currency js-task-currency "></span>

              </dd>
            </dl>
          </li>

                        <li class="order-list__item order-list__item--total">
                          <dl class="order-list__header">
                            <dt class="order-list__title">Total delivery costs</dt>
                            <dd class="order-list__price order-list__price--total">
                                    <span class="task-price__currency js-task-currency ">
                $</span><span class="task-price__number  js-task-price js-total-order-list-price">24</span>

                            </dd>
                          </dl>
                        </li>

                        <li class="[ order-list__item order-list__item--coupon  ]  [ js-checkout-coupon-form ]">
                          <form class="page-content__coupon-form  js-coupon-form  cf" accept-charset="UTF-8" data-remote="true"><input name="utf8" type="hidden" value="&#x2713;" />
                            <input type="hidden" name="task_id" value="78568">
                            <input type="text" name="code" class="input checkout-page__coupon-input page-content-list__input  js-coupon-code-input js-ctrl-submit  js-input-with-prevent" placeholder="Type your code...">
                            <button type="submit" class="[ btn btn--primary ] checkout-page__coupon-submit page-content__submit  js-coupon-submit  js-form-submit-button" data-applied-text="Already applied" data-success-text="Coupon applied!" data-disable-with="Activating..." data-error-text="Wrong code" data-default-text="Redeem">
                              Redeem
                            </button>
                          </form><!-- page-content__coupon-form -->
                        </li>
                      </ul>
                    </div><!-- checkout-page__breakdown -->
                </div><!-- checkout-page__content -->

                <footer class="[ checkout-page__cta cf ]">
                  <a class="task-overview__submit green-style" data-disablify="true" data-disable-with="Redirecting..." href="/tasks/78568">Continue to your task</a>
                </footer>

                <div class="checkout-page__faq">
                  <h3 class="checkout-page__faq-question">
                    How do I pay for the delivery?
                  </h3>
                  <p class="checkout-page__faq-answer">
                    When you have found someone to help you out and accepted an offer, we’ll have you add your credit card details. Then delivery moves along as planned, and when you have confirmed that delivery is done, we’ll withdraw the agreed amount. We’ll make sure the reward is transferred to the bringer.<br/><br/>If you want to save some time later, add your card details now. Then the process is automated later. We’ll never withdraw anything till you have confirmed delivery anyway. And all card data is stored securely with one of the largest payment providers in the world, Stripe.
                  </p>

                  <h3 class="checkout-page__faq-question">
                    Is my item insured?
                  </h3>
                  <p class="checkout-page__faq-answer">
                    Yes, every task is actually insured for up to 500 pounds. To be eligible for the insurance, make sure the bringer you agree with actually sends you an offer to help, and that it is fully accepted and delivered through the system.
                  </p>

                  <h3 class="checkout-page__faq-question  checkout-page__faq-question--secondary">
                    Anything you need to change about your task?
                  </h3>

                  <p class="checkout-page__faq-answer">
                    <a href="/tasks/78568#extra-info" class="obj-task-hero__button btn--outline checkout-page__settings-button">
                      <span class="obj-task-hero__button-text">Edit your task info</span>
                    </a>
                    <span class="checkout-page__or">or</span>
                    <a class="obj-task-hero__button btn--outline checkout-page__settings-button" data-disable-with="Deleting..." rel="nofollow" data-method="delete" href="/tasks/78568/delete">
                      <span class="obj-task-hero__button-text">Delete your task</span>
          </a>        </p>
                </div>
              </section><!-- checkout-page__container -->
            </div><!-- .content -->
          </section>
        </div>
                </body>
</html>
