
<!DOCTYPE html>
<head>



<meta charset="utf-8">
  <meta name="google" value="notranslate" />
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>
    Social Delivery System
</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<meta name="description" content="
  The social delivery service where you save the environment, make money and do something nice for other people.
">


<meta name="apple-itunes-app" content="app-id=1037756477">
<!-- Favicons -->
<link rel="shortcut icon" href="//d1xqbpwl1wh09p.cloudfront.net/web_images/favicon.png" type="image/png">
<link href="//d1xqbpwl1wh09p.cloudfront.net/web_images/touch-icon.png" rel="apple-touch-icon-precomposed">

<!-- Facebook Settings Code -->
<meta property="og:title" content="
    Nimber - Going your way, anyway!
" />  
<meta property="og:site_name" content="Nimber" />
<meta property="og:type" content="website" />
<meta property="og:image:url" content="
    https://d1xqbpwl1wh09p.cloudfront.net/web_images/fb-image.jpg
"/>
<meta property="og:image:secure_url" content="
    https://d1xqbpwl1wh09p.cloudfront.net/web_images/fb-image.jpg
" />
<meta property="fb:app_id" content="262841183796158" />

<meta property="og:description" content="
    The social delivery service where you save the environment, make money and do something nice for other people.
"/>


<!-- Stylesheets -->
<link rel="stylesheet" media="all" href="https://d1112petr9ji1a.cloudfront.net/assets/application-bac74edb05b8d09242307623247b39e57872aca9abbde84ab37667ba59ba3a68.css" />
<link rel="stylesheet" media="all" href="https://d1112petr9ji1a.cloudfront.net/assets/app-2a7eb28789d541ecb4e68b87c8793bceb04d9b85ee51cf52b7eae9e4aa8c7a71.css" />

</head>

<body  class="en  not-logged-in " data-lang="en" data-pageview="">

<header class="header-wrapper expand cf ">
    <div class="fixed-header">
        <div class="header container">

            <a class="[ logo ]  [ pull-left ]" href="/">
        <span class="logo-content">
                <img width="28" alt="Nimber Logo" title="Nimber" src="https://d1112petr9ji1a.cloudfront.net/assets/logo-red-4d7578fa494a5ccfb988ee2f0c3f055b443c937210bb4af93e8e9e52ef0d4a2b.svg" />
        </span>
</a>
            <nav class="top-nav-wrapper longer">
                    <ul class="top-nav pull-right cf js-replace-avatar">
                        
                            <li class="item">
                                <a class="login-link js-login-link" href="/login?redirect_path=%2Ftasks%2Fsearch">Login</a>
                            </li>

                            <li class="item">
                                <a class="[ btn btn--primary ]" href="/users/new?redirect_path=%2Ftasks%2Fsearch">Register</a>
                            </li>
                    </ul><!-- end of top-side-nav -->
                </nav><!-- end of top nav wrapper -->

            <nav class="tab-nav">
                <ul class="cf">
                    <li class="item tab-nav-item tab-nav-item--send longer ">
            <a id="send-noe" data-ie="before" href="/tasks/add">Send</a>
          </li>
                    <li class="item tab-nav-item tab-nav-item--search longer ">
            <a id="ta-med-noe" data-ie="before" href="/tasks/search">Search</a>
          </li>
            <li class="item tab-nav-item tab-nav-item--deliveries longer ">
              <a id="deliveries" data-ie="before" href="/tasks/deliveries">Deliveries</a>
            </li>
        </ul>
            </nav><!-- end of top-nav -->


        </div><!-- end of header -->
    </div><!-- fixed header -->
</header>


<!-- GLOBAL ALERTS -->


<!-- CONTENT -->
<section class="section">
  <header class="content headline headline--border">
    <h1 class="headline__title h1">Login to Schumber</h1>
  </header><!-- headline -->
</section><!-- section -->

<section class="section">
  <div class="content content--body content--no-bottom">
        <div class="register-main">

                <form id="login" autocomplete="on" name="login_form" class="new_session" action="/sessions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="+cMGR7ayUfNhULoxCkKAf4awsLu51zC9/40BgyABc9y+6dxCdCN4VRHUq9ADcy6eNOgAbhNurRR75bPL9dQQ8g==" />
                    <section class="fields-content cf">
                        <fieldset class="cf">
                            <input placeholder="Email address" class="input--full" type="text" name="session[email]" id="session_email" />
                        </fieldset>

                        <fieldset class="cf">
                            <input placeholder="Password" class="input--full" type="password" name="session[password]" id="session_password" />
                        </fieldset>
                        <fieldset class="submit-field cf">
              <input type="submit" name="commit" value="Login" class="[ btn btn--big btn--primary o-paragraph-normal ]  [ pull-right submit-right ]" data-disablify="true" data-disable-with="Logging in..." data-disable-with="Logging in..." />
                            <p class="submit-text">Can't login? <a href='/users/forgot_password' class='gray-link'>Recover your password</a></p>
                        </fieldset>

                        

                    </section><!-- end of send content -->
</form>
        </div><!-- end of register main -->
    </div><!-- content -->
</section><!-- section -->




</body>
</html>
